@media only screen and (min-width: 320px) and (max-width: 768px) {
  .services {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    transform: translateY(6px);
    position: relative; }
    .services__title {
      font-size: 50px;
      margin: 5px;
      margin-left: 50px;
      padding-right: 20px;
      text-align: right;
      border-top: 7px solid #c9a721;
      position: relative;
      margin-bottom: 30px; }
      .services__title::after {
        content: '';
        position: absolute;
        height: calc(100% + 20px);
        width: 50%;
        right: -5px;
        bottom: -20px;
        border-bottom: 7px solid #c9a721;
        border-right: 7px solid #c9a721;
        border-bottom-right-radius: 25px; }
    .services__slider-wrap {
      overflow: hidden;
      -webkit-overflow-scrolling: touch; }
      .services__slider-wrap-wrap {
        width: max-content;
        -webkit-overflow-scrolling: touch; }
    .services__item {
      display: inline-block;
      width: calc(100vw - 85px);
      height: calc(100vh - 200px);
      font-size: 18px;
      color: #f4f3f3;
      margin: 0 10px;
      box-sizing: border-box; }
      .services__item_last {
        margin-right: 30px; }
      .services__item__wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative; }
      .services__item-title-wrap {
        width: calc(100% - 40px);
        margin: 0 10px;
        position: absolute;
        bottom: 144px;
        left: 40px;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.3); }
        .services__item-title-wrap::after {
          content: '';
          position: absolute;
          left: -50px;
          top: -146px;
          border: 35px solid transparent;
          border-bottom: 35px solid #f4f3f3;
          border-left: 35px solid #f4f3f3; }
        .services__item-title-wrap::before {
          content: '';
          position: absolute;
          left: -50px;
          bottom: -70px;
          border: 35px solid transparent;
          border-left: 35px solid #f4f3f3;
          border-top: 35px solid #f4f3f3; }
        .services__item-title-wrap-info-btn {
          position: absolute;
          left: 10px;
          top: 25px;
          width: 40px;
          height: 40px;
          background-image: url(../../../../img/information.svg);
          background-position: center;
          background-size: 40px;
          background-repeat: no-repeat; }
      .services__item__photo1 {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; }
      .services__item-title {
        position: absolute;
        bottom: 150px;
        left: 0;
        box-sizing: border-box;
        line-height: 38px;
        font-size: 23px;
        font-weight: normal;
        color: #121212;
        padding-left: 60px;
        text-align: right;
        background-color: #f4f3f3;
        z-index: 2; }
        .services__item-title-info {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0px;
          transition: all 0.5s ease;
          font-size: 17px;
          padding: 0px;
          box-sizing: border-box;
          text-indent: 20px;
          padding-left: 30px;
          padding-right: 10px; }
          .services__item-title-info::before {
            content: '';
            position: absolute;
            left: -50px;
            bottom: -70px;
            border: 35px solid transparent;
            border-left: 35px solid #f4f3f3;
            border-top: 35px solid #f4f3f3; }
          .services__item-title-info_open {
            height: 150px;
            padding: 20px 10px 20px 30px; }
          .services__item-title-info_bg {
            background-color: rgba(18, 18, 18, 0.85); }
          .services__item-title-info-btn {
            position: absolute;
            left: 0;
            top: 20px;
            width: 40px;
            height: 40px;
            background-image: url(../../../../img/information.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40px; }
    .services__wrap {
      font-size: 0px;
      width: 100%;
      margin-top: 50px;
      z-index: 0;
      transition: all .3s ease;
      position: relative; } }
