<div class="contacts-popup__wrap contacts-popup__wrap_none">
    <div class="contacts-popup">
        <div class="contacts-popup__esc"></div>
        <a href="mailto:{{ mail }}" class="contacts-popup__item contacts-popup__mail">{{ mail }}</a>
        <br>
        <a href="tel:{{ phone }}" class="contacts-popup__item contacts-popup__phone">{{ phone }}</a>
    </div>
</div>