<div class="contacts__wrap">
    <div id="contacts" class="contacts__ankor"></div>
    <div class="contacts__pillar-wrap">
        <div class="contacts__pillar"></div>
    </div>
    <div class="contacts__bg"></div>
    <div class="contacts">
        <div class="contacts__title">Оставить заявку</div>
        <div class="contacts__input-wrap">
            <input type="text" class="contacts__input contacts__input-name" placeholder="Имя">
        </div>
        <div class="contacts__input-wrap">
            <input type="text" class="contacts__input contacts__input-phone" placeholder="Телефон">
        </div>
        <div class="contacts__input-wrap contacts__input-wrap_big">
            <input type="text" class="contacts__input contacts__input_big contacts__input-email"
                placeholder="Почта (не обязательно)">
        </div>
        <div class="contacts__btn">Отправить</div>
    </div>

    <div class="contacts__pillar-wrap contacts__pillar-wrap_bottom">
        <div class="contacts__pillar contacts__pillar_bottom"></div>
    </div>
</div>

<script>
    $('.contacts__btn').click(function () {
        var name = $('.contacts__input-name').val();
        var email = $('.contacts__input-email').val();
        var phone = $('.contacts__input-phone').val();

        let phone_ver = isPhone(phone);
        let name_ver = isName(name);
        let email_ver = isEmail(email);

        if (phone_ver && name_ver) {
            if (name && (email || phone)) {
                $.ajax({
                    'type': 'POST',
                    'url': '/send_offer',
                    'data': {
                        'name': name,
                        'email': email,
                        'phone': phone,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        $('.tnh-popup__wrap').removeClass('tnh-popup__wrap_close');
                        $('.contacts__input-name').val('');
                        $('.contacts__input-email').val('');
                        $('.contacts__input-phone').val('');
                        $('.contacts__input').removeClass('contacts__input_error');
                        ym(55984267, 'reachGoal', 'BUTTON');
                    },
                    error: function (data) {
                        alert('Заявка отправлена!')
                    }

                })
            }
        }
    })

    $('.contacts__input-phone').focusout(function () {
        if (isPhone($(this).val())) {
            ym(55984267, 'reachGoal', 'FORM');
        }
    })


    function isPhone(str) {
        if (str.length !== 11 || str.match(/[a-zA-Z]|[а-яА-Я]/g)) {
            $('.contacts__input-phone').addClass('contacts__input_error');
            return false;
        } else {
            $('.contacts__input-phone').removeClass('contacts__input_error');
            return true;
        }
    }

    function isName(str) {
        if (str.length < 3 || str.match(/[0-9]/)) {
            $('.contacts__input-name').addClass('contacts__input_error');
            return false;
        } else {
            $('.contacts__input-name').removeClass('contacts__input_error');
            return true;
        }
    }

    function isEmail(str) {
        if (str.match(/[\.]/g) && str.match(/[@]/g)) {
            $('.contacts__input-email').removeClass('contacts__input_error');
            return true;
        } else {
            $('.contacts__input-email').addClass('contacts__input_error');
            return false;
        }
    }
</script>