<a href="https://blacklink.ru" target="_blank" class="createby footer__createby">
    <span class="createby__span">b</span>
    <span class="createby__span">y</span>
    <span class="createby__span">&nbsp;</span>
    <span class="createby__span">b</span>
    <span class="createby__span">l</span>
    <span class="createby__span">a</span>
    <span class="createby__span">c</span>
    <span class="createby__span">k</span>
    <span class="createby__span">l</span>
    <span class="createby__span">i</span>
    <span class="createby__span">n</span>
    <span class="createby__span">k</span>
</a>