<div class="footer__wrap">
    <div class="footer__right">© 2019 AristovDesign.
        <br>
        <a class="footer__right_mail" href="mailto:{{ mail }}">{{ mail }}</a> </div>
    <div class="footer__social-wrap">
        <ul class="socialIcons">
            <li><a href="{{fb}}" target="_blank" class="facebook"><i class="fa fa-facebook "></i></a></li>
            <li><a href="{{instagram}}" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    {% include 'include/createby.html' %}
</div>