<div class="header__wrap">
    <div class="header__main">
        {% if page == 'main' %}
        <div class="header__logo header__logo_enable"></div>
        {% else %}
        <a href="/" class="header__logo"></a>
        {% endif %}
        <div class="header__menu-wrap">
            <div class="header__menu">
                {% if page == 'portfolio' %}
                <a href="/" class="header__menu-item">Главная</a>
                <div class="header__menu-item header__menu-item_activate">Портфолио</div>
                <div class="header__menu-item header__menu-item__contacts">Контакты</div>
                {% else %}
                <a href="{% url 'portfolio' %}" class="header__menu-item">Портфолио</a>
                    {% if page == 'main' %}
                    <a href="#about" class="header__menu-item header__menu-item_ankor">О нас</a>
                    {% endif %}
                <div class="header__menu-item header__menu-item__contacts">Контакты</div>
                {% endif %}
                {% if page == '3d' %}
                <a href="{% url 'about' %}" class="header__menu-item header__menu-item_activate">3D визуализация?</a>
                {% else %}
                <a href="{% url 'about' %}" class="header__menu-item">3D визуализация?</a>
                {% endif %}
                <a href="tel:{{ phone }}" class="header__menu-item header__menu-item_phone">{{ phone }}</a>
            </div>
        </div>
    </div>
    {% if page == 'main' %}
    <a href="#contacts" class="header__contactbtn header__contactbtn_main">Связаться</a>
    {% else %}
    <a href="/#_contacts" class="header__contactbtn">Связаться</a>
    {% endif %}
</div>