{% load static %}

<div class="main-window">
    <div class="main-window__slider-prevbtn">PREV</div>
    <div class="main-window__slider-nextbtn">NEXT</div>
    <div class="main-window__slider">
        <div data-title='{{ main_work.title }}' data-href='{% url 'portfolio' %}#_{{ main_work.id }}'
            style="background-image: url({{ main_work.photo.url }})"
            class="main-window__slider-item main-window__slider-item_main"></div>
        <div data-title='{{ next_work.title }}' data-href='{% url 'portfolio' %}#_{{ next_work.id }}'
             style="background-image: url({{ next_work.photo.url }})"
            class="main-window__slider-item main-window__slider-item_next"></div>
        <div data-title='{{ next2_work.title }}' data-href='{% url 'portfolio' %}#_{{ next2_work.id }}'
              style="background-image: url({{ next2_work.photo.url }})"
            class="main-window__slider-item main-window__slider-item_next2"></div>
        {% for work in works %}
            <div data-title='{{ work.title }}' style="background-image: url({{ work.photo.url }})" data-href='{% url 'portfolio' %}#_{{ work.id }}'
             class="main-window__slider-item"></div>
        {% endfor %}
    <div data-title='{{ prev_work.title }}' style="background-image: url({{ prev_work.photo.url }})" data-href='{% url 'portfolio' %}#_{{ prev_work.id }}'
            class="main-window__slider-item main-window__slider-item_prev"></div>
    </div>
    <div class="main-window__title-wrap">
        <div class="main-window__title">AristovDesign</div>
        <br>
        <div class="main-window__subtitle">3D modeling & visualization</div>
        <div class="main-window__slider-info">
            <div class="main-window__slider-info-text"></div><div class="main-window__slider-info-text-cursor">|</div>

            <a href="/" class="main-window__slider-info-link">К проекту</a>
        </div>
    </div>
    <div class="main-window__scroll"></div>
</div>