<div class="services__wrap">
    <div class="services__pillar-wrap">
        <div class="services__pillar-bg"></div>
        <div class="services__pillar">
            <div class="services__pillar-item-wrap services__pillar-item-wrap_title">
                <div class="services__pillar-title">Услуги</div>
                <div class="services__pillar-subtitle-wrap">
                    <div class="services__pillar-subtitle">Комплексное создание интерьера и экстерьера, начиная от
                        дизайн проекта, и заканчивая 3D визуализаций. На всех этапах с вами работают не менеджеры, а
                        наши специалисты. Так же предоставляются услуги авторского надзора.</div>
                </div>
            </div>
            <div class="services__pillar-item-wrap services__pillar-item-wrap_1">
                <div class="services__pillar-item-bg services__pillar-item-bg_1"></div>
                <div class="services__pillar-item-text-wrap services__pillar-item-text-wrap_1">
                    <h2 class="services__pillar-item-text-title">Индивидуальный дизайн-проект
                        <div class="services__pillar-item-text-title-info">
                            <div class="services__pillar-item-text-title-info-text-wrap services__pillar-item-text-title-info-text-wrap_1">
                                <div class="services__pillar-item-text-title-info-text">
                                    • Уточнив Ваши пожелания по дизайну мы рассчитаем стоимость всех работ.
                                    <br>
                                    <br>
                                    • Дизайн проект с техническими чертежами и 3D визуализацей - от 700 р м² в
                                    зависимости от особенностей помещения.
                                </div>
                            </div>
                        </div>
                    </h2>
                    <div class="services__pillar-item-text">Наши специалисты следят за новыми тенденциями, имеют чувство
                        вкуса и обладают умением слышать клиента, что позволяет разработать для вас любой проект от
                        консервативной классики до эксклюзивного лофта.</div>
                </div>
                <div class="services__pillar-item-foto services__pillar-item-foto_1"></div>
            </div>

            <div class="services__pillar-item-wrap services__pillar-item-wrap_2">
                <div class="services__pillar-item-bg services__pillar-item-bg_2"></div>
                <div class="services__pillar-item-text-wrap services__pillar-item-text-wrap_2">
                    <h2 class="services__pillar-item-text-title">3D визуализация интерьера
                        <div class="services__pillar-item-text-title-info">
                            <div class="services__pillar-item-text-title-info-text-wrap services__pillar-item-text-title-info-text-wrap_2">
                                <div class="services__pillar-item-text-title-info-text">
                                    • Мы можем подготовить для Вас 3D визуализацию под уже имеющийся дизайн-проект или
                                    оформить Вашу личную идею.
                                    <br>
                                    <br>
                                    • Стоимость - от 300р м².
                                </div>
                            </div>
                        </div>
                    </h2>
                    <div class="services__pillar-item-text">Основная деятельность нашей компании — визуализация
                        интерьеров и экстерьеров. В наши услуги входит моделирование квартир, домов, офисов, кафе,
                        ресторанов и производственных площадей.
                    </div>
                </div>
                <div class="services__pillar-item-foto services__pillar-item-foto_2"></div>
            </div>

            <div class="services__pillar-item-wrap services__pillar-item-wrap_3">
                <div class="services__pillar-item-bg services__pillar-item-bg_3"></div>
                <div class="services__pillar-item-text-wrap services__pillar-item-text-wrap_3">
                    <h2 class="services__pillar-item-text-title">Индивидуальные чертежи в AutoCAD
                        <div class="services__pillar-item-text-title-info">
                            <div class="services__pillar-item-text-title-info-text-wrap services__pillar-item-text-title-info-text-wrap_1">
                                <div class="services__pillar-item-text-title-info-text">
                                    • Бесплатно, входит в стоимость при заказе дизайн-проекта.
                                </div>
                            </div>
                        </div>
                    </h2>
                    <div class="services__pillar-item-text">Вместе с дизайн проектом разрабатываются и индивидуальные
                        технические чертежи необходимые для просчета стоимости проекта и его реализации.
                    </div>
                </div>
                <div class="services__pillar-item-foto services__pillar-item-foto_3"></div>
            </div>
        </div>
    </div>
</div>