<div class="tnh-popup__wrap tnh-popup__wrap_close">
    <div class="tnh-popup">
        <div class="tnh-popup__esc"></div>
        <div class="tnh-popup__text">Спасибо! <br> В ближайшее время мы свяжемся с вами!</div>
    </div>
</div>