{% load static %}

<div class="works__wrap">
    <div id="about" class="works__ankor"></div>
    <div class="works__bg-wrap">
        <div style="background-image: url({% static 'img/works/1.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/2.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/3.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/4.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/5.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/6.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/7.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/8.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/9.jpg' %})"  class="works__bg"></div>
        <div style="background-image: url({% static 'img/works/10.jpg' %})"  class="works__bg"></div>
        
        <div class="works__slider">
            <div class="works__slider-text">DESIGN</div>
        </div>
    </div>
    <h2 class="works__title">Информация о нас:</h2>
    <div class="works__text">
        <div class="works__text-wrap works__text-wrap_project">
            <div data-count='25' class="works__text-count">25</div>
            <div class="works__text-title">Проектов</div>
        </div>

        <div class="works__text-wrap works__text-wrap_rooms">
            <div data-count='172' class="works__text-count works__text-count_rooms">172</div>
            <div class="works__text-title">Помещений</div>
        </div>

        <div class="works__text-wrap works__text-wrap_furniture">
            <div class="works__text-title works__text-title_furniture">Мебели</div>
            <div data-count='1220' class="works__text-count works__text-count_furniture">1202</div>
        </div>
        <div class="works__text-wrap works__text-wrap_city">
            <div class="works__text-title works__text-title_city">Городов</div>
            <div data-count='12' class="works__text-count works__text-count_city">12</div>
        </div>
        <div class="works__text-wrap works__text-wrap_cli">
            <div class="works__text-title works__text-title_cli">Клиентов</div>
            <div data-count='18' class="works__text-count works__text-count_cli">18</div>
        </div>

        <div class="works__text-wrap works__text-wrap_cats">
            <div data-count='4613' class="works__text-count works__text-count_cats">4613</div>
            <div class="works__text-title"> <strong>М²</strong></div>
        </div>
    </div>
    <div class="works__counter"></div>
</div>