@media only screen and (min-width: 1024px) {
  .footer__wrap {
    width: 100%;
    height: 100px;
    background-color: #121212;
    font-family: Ubuntu, sans-serif;
    position: relative;
    text-align: center; }
  .footer__right {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 40px;
    color: #f4f3f3; }
    .footer__right_mail {
      color: #f4f3f3; }
      .footer__right_mail:visited {
        color: #f4f3f3; }
  .footer__social-wrap {
    display: inline-block; }
  .footer__createby {
    position: absolute;
    right: 100px;
    top: 50px; } }
