@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
    .footer__slider-wrap {
      overflow: hidden;
      height: 61px;
      -webkit-overflow-scrolling: touch; }
      .footer__slider-wrap-wrap {
        width: max-content;
        -webkit-overflow-scrolling: touch; }
    .footer__item {
      display: inline-block;
      width: auto;
      padding: 20px;
      padding-left: 40px;
      font-size: 18px;
      color: #f4f3f3; }
      .footer__item:visited {
        color: #f4f3f3; }
    .footer__contacts {
      background-image: url(../../../../img/phone.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-x: 10px;
      background-position-y: 19px; }
    .footer__form-contacts {
      background-image: url(../../../../img/arroba-symbol.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-x: 10px;
      background-position-y: 19px; }
    .footer__instagram {
      background-image: url(../../../../img/instagram.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-x: 10px;
      background-position-y: 19px; }
    .footer__wrap {
      font-size: 0px;
      width: 100%;
      height: 70px;
      background-color: #121212;
      position: fixed;
      bottom: -90px;
      left: 0;
      z-index: 10;
      transition: all .3s ease; }
      .footer__wrap_top {
        bottom: 0; }
      .footer__wrap::after {
        content: '';
        position: absolute;
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
        background-color: #121212;
        background-image: url(../../../../img/circul.svg);
        background-size: 40px;
        background-position-x: 0px;
        background-position-y: 20px; }
      .footer__wrap::before {
        content: '';
        position: absolute;
        right: 0;
        top: -20px;
        width: 20px;
        height: 20px;
        background-color: #121212;
        background-image: url(../../../../img/circul.svg);
        background-size: 40px;
        background-position-x: 20px;
        background-position-y: 20px; } }
