@media only screen and (min-width: 320px) and (max-width: 768px) {
  html {
    margin: 0;
    padding: 0;
    background-color: #f4f3f3; }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  body {
    background-color: #f4f3f3;
    font-family: Ubuntu,sans-serif; } }
