@media only screen and (min-width: 1024px) {
  .contacts-popup {
    position: absolute;
    width: 500px;
    height: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    background-color: rgba(244, 243, 243, 0.9);
    border-radius: 5px;
    padding: 90px 50px;
  }
  .contacts-popup__wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(18, 18, 18, 0.5);
  }
  .contacts-popup__wrap_none {
    display: none;
  }
  .contacts-popup__item {
    padding-left: 50px;
    padding-bottom: 50px;
    text-decoration: none;
    font-size: 30px;
    color: #121212;
    display: inline-block;
    background-position-x: 10px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    background-size: 30px;
  }
  .contacts-popup__mail {
    background-image: url(../../../img/arroba-symbol.svg);
  }
  .contacts-popup__phone {
    background-image: url(../../../img/phone.svg);
    background-size: 28px;
  }
  .contacts-popup__esc {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url(../../../img/cancel.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
  }
}
/*# sourceMappingURL=contacts-popup.css.map */