// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {

    .contacts-popup {

        position: absolute;
        
        width: 500px;
        height: 300px;

        box-sizing: border-box;

        top: calc(50% - 150px);
        left: calc(50% - 250px);

        background-color: rgba(244,243,243, .9);

        border-radius: 5px;

        padding: 90px 50px;

        &__wrap {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;

            z-index: 10;

            background-color: rgba(18,18,18, .5);

            &_none {
                display: none;
            }
        }

        &__item {
            padding-left: 50px;
            padding-bottom: 50px;

            text-decoration: none;

            font-size: 30px;

            color: #121212;

            display: inline-block;

            background-position-x: 10px;
            background-position-y: 5px;
            background-repeat: no-repeat;
            background-size: 30px;

        }

        &__mail {
            background-image: url(../../../img/arroba-symbol.svg);
        }

        &__phone {
            background-image: url(../../../img/phone.svg);
            background-size: 28px;
        }

        &__esc {
            position: absolute;

            top: 0;
            right: 0;

            width: 40px;
            height: 40px;

            background-image: url(../../../img/cancel.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
        }
    }

}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
