@media only screen and (min-width: 1024px) {
  .about {
    width: 1220px;
    height: auto;
    margin: 0 auto; }
    .about__wrap {
      height: auto;
      width: 100%;
      background-color: #f4f3f3;
      padding: 120px 0;
      -webkit-box-shadow: inset 0px 82px 101px -39px #121212;
      box-shadow: inset 0px 82px 101px -39px #121212; }
    .about__title {
      font-family: Ubuntu,sans-serif;
      font-size: 50px;
      margin-bottom: 60px;
      margin-top: 20px;
      color: #121212;
      text-align: center; }
    .about__text {
      font-size: 18px;
      color: #121212;
      padding: 0 30px; }
    .about__img {
      height: 100%;
      width: 1100px;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
      .about__img:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02); }
      .about__img-wrap {
        margin: 30px 0;
        height: 600px; }
        .about__img-wrap_big {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          height: auto;
          margin: 30px auto; }
      .about__img_small {
        width: 360px;
        height: 360px;
        margin: 0 10px;
        display: inline-block; } }

@media only screen and (min-width: 1024px) {
  .contacts {
    width: 1200px;
    height: 900px;
    padding-top: 150px;
    padding-bottom: 150px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    font-size: 0; }
    .contacts__ankor {
      position: absolute;
      height: 0;
      width: 0;
      left: 0;
      top: -100px; }
    .contacts__pillar {
      width: 500px;
      height: 400px;
      margin: 0 auto;
      background-color: #c9a721;
      -webkit-box-shadow: inset 0 0 138px 9px #121212;
      box-shadow: inset 0 0 138px 9px #121212;
      position: relative; }
      .contacts__pillar_bottom {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        height: 200px; }
        .contacts__pillar_bottom:after {
          display: none; }
        .contacts__pillar_bottom::before {
          display: none; }
      .contacts__pillar:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border: 51px solid transparent;
        border-top: 5px solid #121212;
        border-right: 451px solid #121212; }
      .contacts__pillar::before {
        content: '';
        position: absolute;
        left: 0;
        top: 24px;
        width: 100%;
        height: 2px;
        -webkit-box-shadow: 0 0 58px 9px #121212;
        box-shadow: 0 0 58px 9px #121212;
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg); }
      .contacts__pillar-wrap {
        width: 100%;
        height: 200px;
        position: absolute;
        left: 0;
        top: -200px;
        overflow: hidden; }
        .contacts__pillar-wrap_bottom {
          bottom: -200px;
          top: auto; }
    .contacts__wrap {
      width: 100%;
      height: auto;
      position: relative;
      background-image: url(../../../img/bg.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
      margin-top: 270px;
      margin-bottom: 200px; }
    .contacts__bg {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: rgba(18, 18, 18, 0.4);
      z-index: 2; }
    .contacts__title {
      font-size: 50px;
      text-align: center;
      color: #f4f3f3;
      font-family: Ubuntu, sans-serif;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid #f4f3f3; }
    .contacts__input {
      background-color: transparent;
      outline: none;
      width: 88%;
      height: 70px;
      border: 2px solid #f4f3f3;
      display: inline-block;
      margin: 6%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 50px;
      padding-left: 10px;
      font-family: Ubuntu, sans-serif;
      color: #ffcb00; }
      .contacts__input::-webkit-input-placeholder {
        color: #f4f3f3; }
      .contacts__input::-moz-placeholder {
        color: #f4f3f3; }
      .contacts__input:-ms-input-placeholder {
        color: #f4f3f3; }
      .contacts__input::-ms-input-placeholder {
        color: #f4f3f3; }
      .contacts__input::placeholder {
        color: #f4f3f3; }
      .contacts__input_error {
        border: 2px solid #c52020; }
      .contacts__input_big {
        margin: 3%;
        width: 94%; }
      .contacts__input-wrap {
        display: inline-block;
        width: 50%;
        position: relative; }
        .contacts__input-wrap_big {
          width: 100%; }
    .contacts__btn {
      font-size: 40px;
      color: #f4f3f3;
      width: auto;
      height: 70px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family: Ubuntu, sans-serif;
      padding: 10px 30px;
      margin-left: 3%;
      border-left: 2px solid #c9a721;
      border-radius: 3px;
      position: relative;
      z-index: 1;
      cursor: pointer; }
      .contacts__btn:hover::after {
        width: 100%; }
      .contacts__btn:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 0px;
        border-radius: 3px;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #c9a721;
        z-index: -1;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; } }

@media only screen and (min-width: 1024px) {
  .contacts-popup {
    position: absolute;
    width: 500px;
    height: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    background-color: rgba(244, 243, 243, 0.9);
    border-radius: 5px;
    padding: 90px 50px; }
    .contacts-popup__wrap {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 10;
      background-color: rgba(18, 18, 18, 0.5); }
      .contacts-popup__wrap_none {
        display: none; }
    .contacts-popup__item {
      padding-left: 50px;
      padding-bottom: 50px;
      text-decoration: none;
      font-size: 30px;
      color: #121212;
      display: inline-block;
      background-position-x: 10px;
      background-position-y: 5px;
      background-repeat: no-repeat;
      background-size: 30px; }
    .contacts-popup__mail {
      background-image: url(../../../img/arroba-symbol.svg); }
    .contacts-popup__phone {
      background-image: url(../../../img/phone.svg);
      background-size: 28px; }
    .contacts-popup__esc {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background-image: url(../../../img/cancel.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px; } }

.createby {
  display: inline-block;
  text-decoration: none;
  color: #f4f3f3;
  font-size: 0px; }
  .createby:visited {
    color: #f4f3f3; }
  .createby__span {
    font-size: 16px;
    display: inline-block;
    padding: 0px 1px; }
  .createby:hover > .createby__span:nth-child(1) {
    -webkit-animation: animate .3s ease;
    animation: animate .3s ease; }
  .createby:hover > .createby__span:nth-child(2) {
    -webkit-animation: animate .3s .05s ease;
    animation: animate .3s .05s ease; }
  .createby:hover > .createby__span:nth-child(4) {
    -webkit-animation: animate .3s .1s ease;
    animation: animate .3s .1s ease; }
  .createby:hover > .createby__span:nth-child(5) {
    -webkit-animation: animate .3s .15s ease;
    animation: animate .3s .15s ease; }
  .createby:hover > .createby__span:nth-child(6) {
    -webkit-animation: animate .3s .2s ease;
    animation: animate .3s .2s ease; }
  .createby:hover > .createby__span:nth-child(7) {
    -webkit-animation: animate .3s .25s ease;
    animation: animate .3s .25s ease; }
  .createby:hover > .createby__span:nth-child(8) {
    -webkit-animation: animate .3s .3s ease;
    animation: animate .3s .3s ease; }
  .createby:hover > .createby__span:nth-child(9) {
    -webkit-animation: animate .3s .35s ease;
    animation: animate .3s .35s ease; }
  .createby:hover > .createby__span:nth-child(10) {
    -webkit-animation: animate .3s .4s ease;
    animation: animate .3s .4s ease; }
  .createby:hover > .createby__span:nth-child(11) {
    -webkit-animation: animate .3s .45s ease;
    animation: animate .3s .45s ease; }
  .createby:hover > .createby__span:nth-child(12) {
    -webkit-animation: animate .3s .5s ease;
    animation: animate .3s .5s ease; }

@-webkit-keyframes animate {
  0% {
    color: #f4f3f3; }
  25% { }
  50% {
    color: #000000;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  75% { }
  100% {
    color: #f4f3f3; } }

@keyframes animate {
  0% {
    color: #f4f3f3; }
  25% { }
  50% {
    color: #000000;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  75% { }
  100% {
    color: #f4f3f3; } }

@media only screen and (min-width: 1024px) {
  .footer__wrap {
    width: 100%;
    height: 100px;
    background-color: #121212;
    font-family: Ubuntu, sans-serif;
    position: relative;
    text-align: center; }
  .footer__right {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 40px;
    color: #f4f3f3; }
    .footer__right_mail {
      color: #f4f3f3; }
      .footer__right_mail:visited {
        color: #f4f3f3; }
  .footer__social-wrap {
    display: inline-block; }
  .footer__createby {
    position: absolute;
    right: 100px;
    top: 50px; } }

@media only screen and (min-width: 1024px) {
  * {
    padding: 0;
    margin: 0; }
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; }
  body {
    background-color: #121212; } }

@media only screen and (min-width: 1024px) {
  .header__wrap {
    width: 100%;
    min-width: 1200px;
    height: 120px;
    position: fixed;
    top: 0;
    font-size: 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 10; }
  .header__main {
    width: calc(100% - 200px);
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 100px;
    position: relative; }
    .header__main:after {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      content: "";
      width: 0px;
      height: 100%;
      display: inline-block;
      background-color: rgba(18, 18, 18, 0.9);
      z-index: -1;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    .header__main_activate:after {
      width: 100%; }
    .header__main:hover:after {
      width: 100%; }
  .header__logo {
    display: inline-block;
    height: 100%;
    width: 250px;
    background-image: url(../../../img/LOGO.png);
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 90%;
    cursor: pointer; }
    .header__logo_enable {
      cursor: default; }
  .header__menu {
    display: inline-block;
    height: 100%;
    font-size: 18px;
    color: #f4f3f3; }
    .header__menu-wrap {
      position: absolute;
      left: 350px;
      top: 0;
      width: calc(100% - 350px);
      height: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      padding: 40px 50px;
      padding-left: 20px; }
    .header__menu-item {
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 30px;
      width: auto;
      margin-right: 10px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      position: relative;
      z-index: 1;
      cursor: pointer;
      text-decoration: none;
      color: #f4f3f3; }
      .header__menu-item_activate {
        color: #121212 !important;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default; }
        .header__menu-item_activate::after {
          width: 100% !important; }
      .header__menu-item_phone {
        right: 10px;
        top: 40px;
        position: absolute;
        padding-left: 50px; }
        .header__menu-item_phone::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 10px;
          top: 7px;
          width: 30px;
          height: 30px;
          background-image: url(../../../img/phone.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 30px; }
        .header__menu-item_phone::after {
          display: none !important; }
        .header__menu-item_phone:hover {
          color: #f4f3f3 !important; }
          .header__menu-item_phone:hover:visited {
            color: #f4f3f3 !important; }
          .header__menu-item_phone:hover::before {
            -webkit-animation: before_animate .5s ease;
            animation: before_animate .5s ease; }
      .header__menu-item:visited {
        color: #f4f3f3; }
      .header__menu-item:hover {
        color: #121212; }
        .header__menu-item:hover:visited {
          color: #121212; }
        .header__menu-item:hover::after {
          width: 100%; }
      .header__menu-item::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0px;
        border-radius: 2px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background-color: #c9a721;
        z-index: -1; }
  .header__contactbtn {
    height: 100%;
    width: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f4f3f3;
    color: #121212;
    font-size: 20px;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
    .header__contactbtn:visited {
      color: #121212; }
    .header__contactbtn:hover {
      color: #f4f3f3; }
      .header__contactbtn:hover::after {
        width: 100%; }
      .header__contactbtn:hover:visited {
        color: #f4f3f3; }
    .header__contactbtn::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      background-color: #c9a721;
      z-index: -1; }
    .header__contactbtn_hover {
      display: none; }
  @-webkit-keyframes before_animate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    20% {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg); }
    40% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
    60% {
      -webkit-transform: rotate(-12deg);
      transform: rotate(-12deg); }
    80% {
      -webkit-transform: rotate(8deg);
      transform: rotate(8deg); }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); } }
  @keyframes before_animate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    20% {
      -webkit-transform: rotate(-20deg);
      transform: rotate(-20deg); }
    40% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg); }
    60% {
      -webkit-transform: rotate(-12deg);
      transform: rotate(-12deg); }
    80% {
      -webkit-transform: rotate(8deg);
      transform: rotate(8deg); }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); } } }

@media only screen and (min-width: 1024px) and (max-width: 1424px) {
  .header__main {
    padding-left: 10px; }
  .header__menu-wrap {
    left: 250px; }
  .header__menu-item_phone {
    right: -20px;
    padding-left: 40px !important; }
  .header__menu-item {
    padding: 10px; } }

@media only screen and (min-width: 1024px) {
  .main-window {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .main-window__slider {
      height: 100%;
      font-size: 0;
      position: relative; }
      .main-window__slider-item {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: calc(100% - 200px);
        display: none;
        background-position: center;
        background-position-y: top;
        background-size: cover;
        -webkit-transform: scale(1);
        transform: scale(1);
        background-repeat: no-repeat;
        z-index: -1;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
        .main-window__slider-item-noevents {
          pointer-events: none; }
        .main-window__slider-item_main {
          z-index: 3;
          left: 0;
          display: inline-block;
          -webkit-filter: saturate(50%);
          filter: saturate(50%); }
          .main-window__slider-item_main:hover {
            -webkit-box-shadow: 0px 0 50px 6px rgba(18, 18, 18, 0.3);
            box-shadow: 0px 0 50px 6px rgba(18, 18, 18, 0.3);
            -webkit-filter: saturate(100%);
            filter: saturate(100%); }
          .main-window__slider-item_main-left {
            -webkit-animation: left_slider 1s ease;
            animation: left_slider 1s ease;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
          .main-window__slider-item_main-right {
            -webkit-animation: main_right_slider 1s ease;
            animation: main_right_slider 1s ease;
            -webkit-transform: translateX(200px);
            transform: translateX(200px);
            -webkit-filter: saturate(0%);
            filter: saturate(0%); }
          .main-window__slider-item_main-hover {
            -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
            -webkit-filter: saturate(30%);
            filter: saturate(30%); }
        .main-window__slider-item_next {
          -webkit-transform: scale(1.05) translateX(200px);
          transform: scale(1.05) translateX(200px);
          z-index: 2;
          display: inline-block;
          -webkit-filter: saturate(0%);
          filter: saturate(0%);
          cursor: pointer; }
          .main-window__slider-item_next:hover {
            -webkit-transform: scale(1) translateX(200px);
            transform: scale(1) translateX(200px);
            -webkit-filter: saturate(100%);
            filter: saturate(100%); }
          .main-window__slider-item_next-left {
            -webkit-animation: next_left_slider 1s ease;
            animation: next_left_slider 1s ease;
            -webkit-transform: scale(1) translateX(-200px);
            transform: scale(1) translateX(-200px); }
        .main-window__slider-item_next2 {
          -webkit-transform: translateX(200px);
          transform: translateX(200px);
          z-index: 1;
          display: inline-block;
          -webkit-filter: saturate(0%);
          filter: saturate(0%);
          cursor: pointer; }
        .main-window__slider-item_prev {
          display: inline-block;
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
          z-index: 4;
          -webkit-transition: all 1s ease;
          transition: all 1s ease; }
          .main-window__slider-item_prev-back {
            -webkit-transform: translateX(0);
            transform: translateX(0); }
      .main-window__slider-prevbtn {
        font-family: 'Oswald', sans-serif;
        position: absolute;
        width: 150px;
        height: 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 20px;
        text-align: left;
        line-height: 40px;
        font-weight: 200;
        color: #f4f3f3;
        font-size: 30px;
        cursor: pointer;
        background-color: rgba(18, 18, 18, 0.8);
        border-radius: 2px;
        left: -40px;
        top: calc(50% - 50px);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        z-index: 5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .main-window__slider-prevbtn:hover::after {
          background-size: 30px; }
        .main-window__slider-prevbtn::after {
          content: '';
          position: absolute;
          right: 10px;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
          width: 40px;
          height: 40px;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          background-image: url(../../../img/next.svg); }
        .main-window__slider-prevbtn_noevents {
          pointer-events: none; }
      .main-window__slider-nextbtn {
        font-family: 'Oswald', sans-serif;
        position: absolute;
        width: 150px;
        height: 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 70px;
        text-align: left;
        line-height: 40px;
        font-weight: 200;
        color: #f4f3f3;
        font-size: 30px;
        cursor: pointer;
        background-color: rgba(18, 18, 18, 0.8);
        border-radius: 2px;
        right: 30px;
        bottom: 10px;
        z-index: 5;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none; }
        .main-window__slider-nextbtn::after {
          content: '';
          position: absolute;
          left: 10px;
          -webkit-transition: all .2s ease;
          transition: all .2s ease;
          width: 40px;
          height: 40px;
          -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          background-image: url(../../../img/next.svg); }
    .main-window__title {
      font-family: Oswald, sans-serif;
      font-size: 100px;
      font-weight: 300;
      color: #f4f3f3;
      text-align: right;
      display: inline-block;
      width: 450px;
      height: 120px; }
      .main-window__title-wrap {
        border-radius: 40px;
        background: rgba(12, 12, 12, 0.15);
        -webkit-box-shadow: 0px 0px 30px 32px rgba(12, 12, 12, 0.15);
        box-shadow: 0px 0px 30px 32px rgba(12, 12, 12, 0.15);
        position: absolute;
        width: 70%;
        height: 230px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px;
        padding-right: 320px;
        bottom: 50px;
        left: 20%;
        font-size: 20px;
        z-index: 5; }
    .main-window__subtitle {
      display: inline-block;
      font-family: Oswald, sans-serif;
      font-size: 40px;
      font-weight: 300;
      color: #f4f3f3;
      width: 450px;
      text-align: right;
      color: #c9a721; }
    .main-window__scroll {
      position: absolute;
      width: 40px;
      height: 40px;
      display: inline-block;
      background-image: url(../../../img/mouse.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
      z-index: 6;
      bottom: 10px;
      left: calc(50% - 10px); }
    .main-window__slider-info {
      font-family: Oswald, sans-serif;
      color: #f4f3f3;
      font-size: 40px;
      font-weight: 200;
      position: absolute;
      display: inline-block;
      width: 400px;
      height: 180px;
      right: 150px;
      bottom: 20px;
      padding: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      overflow: hidden; }
      .main-window__slider-info-text {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        display: inline;
        line-height: 36px; }
        .main-window__slider-info-text-cursor {
          display: inline-block;
          font-size: 45px;
          font-weight: 200;
          -webkit-animation: move .7s infinite linear;
          animation: move .7s infinite linear; }
          .main-window__slider-info-text-cursor_fade {
            display: none; }
      .main-window__slider-info-link {
        position: absolute;
        bottom: 0px;
        left: 10px;
        display: inline-block;
        height: 40px;
        padding-left: 10px;
        font-size: 25px;
        color: #f4f3f3;
        text-decoration: none;
        border-left: 1px solid #c9a721;
        border-radius: 3px;
        z-index: 1; }
        .main-window__slider-info-link:visited {
          color: #f4f3f3; }
        .main-window__slider-info-link:after {
          content: '';
          position: absolute;
          display: inline-block;
          left: 0;
          height: 100%;
          width: 0px;
          background-color: #c9a721;
          z-index: -1;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          background-repeat: no-repeat;
          background-size: 20px;
          background-position-x: 108px;
          background-position-y: 11px;
          border-radius: 3px;
          background-image: url(../../../img/next.svg); }
      .main-window__slider-info:hover .main-window__slider-info-link::after {
        width: 150%; }
  @-webkit-keyframes move {
    0% {
      color: transparent; }
    50% {
      color: white; }
    100% {
      color: transparent; } }
  @keyframes move {
    0% {
      color: transparent; }
    50% {
      color: white; }
    100% {
      color: transparent; } }
  @-webkit-keyframes left_slider {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px); }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%); } }
  @keyframes left_slider {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px); }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%); } }
  @-webkit-keyframes next_left_slider {
    0% {
      -webkit-transform: translateX(200px);
      transform: translateX(200px); }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); } }
  @keyframes next_left_slider {
    0% {
      -webkit-transform: translateX(200px);
      transform: translateX(200px); }
    100% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px); } }
  @-webkit-keyframes main_right_slider {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-filter: saturate(100%);
      filter: saturate(100%); }
    100% {
      -webkit-transform: translateX(200px);
      transform: translateX(200px);
      -webkit-filter: saturate(0%);
      filter: saturate(0%); } }
  @keyframes main_right_slider {
    0% {
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-filter: saturate(100%);
      filter: saturate(100%); }
    100% {
      -webkit-transform: translateX(200px);
      transform: translateX(200px);
      -webkit-filter: saturate(0%);
      filter: saturate(0%); } } }

@charset "UTF-8";
@media only screen and (min-width: 1024px) {
  .slick-next,
  .slick-prev {
    width: 40px !important;
    height: 40px !important;
    background-color: #f4f3f3 !important;
    z-index: 1;
    border-radius: 50%;
    background-image: url("../../../img/arr.svg") !important;
    background-position: center !important;
    background-position-x: 12px !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important; }
    .slick-next::before,
    .slick-prev::before {
      content: '' !important;
      font-size: 40px !important;
      color: #c9a721 !important;
      position: absolute !important;
      left: 0 !important;
      top: -5px !important; }
  .slick-next {
    right: -20px !important; }
  .slick-prev {
    left: -20px !important;
    background-position-x: 7px !important;
    background-image: url("../../../img/arr_left.svg") !important; }
  .portfolio {
    margin-top: 150px;
    height: 50vh;
    position: relative; }
    .portfolio__add {
      width: 200px;
      height: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #f4f3f3;
      background-color: transparent;
      position: relative;
      font-family: Ubuntu, sans-serif;
      cursor: pointer;
      text-align: left;
      font-weight: bold;
      padding-top: 13px;
      font-size: 25px;
      -webkit-transition: all .3s 0.2s ease;
      transition: all .3s 0.2s ease; }
      .portfolio__add:hover {
        padding-left: 20px; }
        .portfolio__add:hover::after {
          right: 100%;
          padding-left: 0; }
      .portfolio__add::after {
        content: 'Подробнее';
        position: absolute;
        font-family: Ubuntu, sans-serif;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        padding-left: 30px;
        font-weight: bold;
        padding-top: 13px;
        font-size: 20px;
        background-color: #f4f3f3;
        color: #121212;
        overflow: hidden;
        -webkit-transition: all .6s ease;
        transition: all .6s ease; }
    .portfolio__pillar {
      position: absolute;
      width: 500px;
      height: 100%;
      top: 0;
      left: calc(50% - 250px);
      border-radius: 5px;
      background-color: #c9a721;
      -webkit-box-shadow: inset 0 0 138px 9px #121212;
      box-shadow: inset 0 0 138px 9px #121212; }
      .portfolio__pillar-title {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 70px 50px 300px;
        font-size: 70px;
        text-align: center;
        font-family: Ubuntu, sans-serif;
        color: #f4f3f3;
        font-weight: 700;
        -webkit-transition: .5s;
        transition: .5s; }
        .portfolio__pillar-title:hover {
          text-shadow: 4px 16px 13px #21210a;
          -webkit-transform: translateY(-10px) translateX(-5px);
          transform: translateY(-10px) translateX(-5px); }
    .portfolio_right > .portfolio__slider__wrap {
      right: 0 !important;
      left: auto !important; }
    .portfolio_right > .portfolio__text {
      left: 0 !important;
      right: auto !important;
      text-align: right;
      margin-right: 0; }
      .portfolio_right > .portfolio__text .portfolio__style {
        left: -50px !important;
        right: auto !important; }
    .portfolio > .portfolio__slider__wrap {
      left: 0;
      top: 0; }
    .portfolio > .portfolio__text {
      right: 0;
      top: 0; }
    .portfolio__wrap {
      min-width: 1220px;
      width: 80%;
      margin: 0 auto;
      height: auto;
      margin-top: 120px;
      position: relative;
      padding-top: 170px;
      padding-bottom: 100px; }
    .portfolio__slider {
      width: calc(100% - 80px);
      margin-left: 40px; }
      .portfolio__slider__wrap {
        width: 60%;
        height: 100%;
        position: absolute;
        border-radius: 3px;
        z-index: 2; }
      .portfolio__slider__item {
        width: 100%;
        height: 55vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px; }
    .portfolio__text {
      width: calc(40%);
      height: 100%;
      position: absolute;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 50px;
      padding-top: 100px;
      text-align: left;
      z-index: 1; }
    .portfolio__title {
      font-size: 45px;
      color: #f4f3f3;
      font-family: Ubuntu, sans-serif;
      padding-bottom: 20px; }
    .portfolio__subtitle {
      font-size: 28px;
      color: #f4f3f3;
      font-family: Ubuntu, sans-serif;
      padding-bottom: 20px; }
    .portfolio__style {
      position: absolute;
      right: -50px;
      top: 30px;
      font-size: 20px;
      color: #f4f3f3;
      font-family: Ubuntu, sans-serif;
      padding-bottom: 20px; } }

@media only screen and (min-width: 1024px) {
  .services__wrap {
    width: 100%;
    height: auto;
    padding-top: 100px;
    background-color: #121212; }
  .services__pillar {
    width: 500px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #c9a721;
    height: auto;
    padding-bottom: 300px;
    margin-bottom: 60px;
    position: relative;
    -webkit-box-shadow: inset 0 0 138px 9px #121212;
    box-shadow: inset 0 0 138px 9px #121212;
    z-index: 2; }
    .services__pillar:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      border: 56px solid transparent;
      border-bottom: 0px solid #121212;
      border-left: 502px solid #121212; }
    .services__pillar::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 24px;
      width: 100%;
      height: 2px;
      -webkit-box-shadow: 0 0 58px 9px #121212;
      box-shadow: 0 0 58px 9px #121212;
      -webkit-transform: rotate(6deg);
      transform: rotate(6deg); }
    .services__pillar-bg {
      width: 400px;
      height: 400px;
      position: absolute;
      top: 100px;
      left: 350px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background-image: url(../../../img/0_s.png);
      background-position-x: -70px;
      background-position-y: top;
      background-size: cover;
      background-repeat: no-repeat; }
    .services__pillar-wrap {
      width: 1200px;
      padding: 0 200px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: auto;
      margin: 0 auto;
      position: relative; }
    .services__pillar-title {
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 100px 50px;
      padding-bottom: 300px;
      padding-top: 70px;
      font-size: 120px;
      text-align: center;
      font-family: Ubuntu, sans-serif;
      color: #f4f3f3;
      font-weight: bold;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    .services__pillar-subtitle {
      color: #f4f3f3;
      font-size: 20px;
      line-height: 32px;
      text-align: center; }
      .services__pillar-subtitle-wrap {
        position: absolute;
        top: 270px;
        left: 20px;
        width: 460px;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: rgba(197, 164, 34, 0);
        padding: 50px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        border-radius: 2px; }
    .services__pillar-item-wrap {
      margin-left: -500px;
      margin-right: -500px;
      height: 800px;
      padding: 0 500px;
      position: relative; }
      .services__pillar-item-wrap_title {
        position: initial;
        height: 600px; }
        .services__pillar-item-wrap_title:hover .services__pillar-title {
          text-shadow: 4px 16px 13px #21210a;
          -webkit-transform: translateY(-10px) translateX(-5px);
          transform: translateY(-10px) translateX(-5px); }
        .services__pillar-item-wrap_title:hover .services__pillar-subtitle-wrap {
          -webkit-transform: translateY(-10px) translateX(120px);
          transform: translateY(-10px) translateX(120px);
          -webkit-box-shadow: 0px 23px 16px -6px #21210a;
          box-shadow: 0px 23px 16px -6px #21210a;
          background-color: rgba(197, 164, 34, 0.9); }
      .services__pillar-item-wrap_1:hover .services__pillar-item-bg_1 {
        -webkit-transform: translateY(10px) translateX(130px);
        transform: translateY(10px) translateX(130px);
        height: 480px; }
      .services__pillar-item-wrap_1:hover .services__pillar-item-text-wrap_1 {
        -webkit-transform: translateY(-30px) translateX(-170px);
        transform: translateY(-30px) translateX(-170px); }
      .services__pillar-item-wrap_1:hover .services__pillar-item-foto_1 {
        width: 550px;
        height: 450px;
        right: 200px;
        -webkit-animation: move_bg 7s infinite linear;
        animation: move_bg 7s infinite linear; }
      .services__pillar-item-wrap_2:hover .services__pillar-item-bg_2 {
        -webkit-transform: translateY(-10px) translateX(30px);
        transform: translateY(-10px) translateX(30px);
        height: 480px; }
      .services__pillar-item-wrap_2:hover .services__pillar-item-text-wrap_2 {
        -webkit-transform: translateY(110px) translateX(-130px);
        transform: translateY(110px) translateX(-130px); }
      .services__pillar-item-wrap_2:hover .services__pillar-item-foto_2 {
        width: 850px;
        height: 550px;
        -webkit-transform: translateY(50px) translateX(-60px);
        transform: translateY(50px) translateX(-60px);
        -webkit-animation: move_bg 7s infinite linear;
        animation: move_bg 7s infinite linear; }
      .services__pillar-item-wrap_3:hover .services__pillar-item-bg_3 {
        -webkit-transform: translateY(100px) translateX(30px);
        transform: translateY(100px) translateX(30px);
        height: 480px; }
      .services__pillar-item-wrap_3:hover .services__pillar-item-text-wrap_3 {
        -webkit-transform: translateY(50px) translateX(398px);
        transform: translateY(50px) translateX(398px); }
      .services__pillar-item-wrap_3:hover .services__pillar-item-foto_3 {
        width: 750px;
        height: 450px;
        -webkit-transform: translateY(100px) translateX(-300px);
        transform: translateY(100px) translateX(-300px);
        -webkit-animation: move_bg_left 7s infinite linear;
        animation: move_bg_left 7s infinite linear; }
    .services__pillar-item-bg {
      width: 900px;
      height: 520px;
      right: 300px;
      top: 50px;
      position: absolute;
      z-index: 1;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      -webkit-box-shadow: 0 23px 16px -6px #21210a;
      box-shadow: 0 23px 16px -6px #21210a;
      border-radius: 3px; }
      .services__pillar-item-bg_1 {
        width: 1000px;
        top: 200px;
        -webkit-box-shadow: 0 23px 16px -6px #0b231e;
        box-shadow: 0 23px 16px -6px #0b231e;
        background-color: #58b5a9;
        -webkit-transform: translateX(0px);
        transform: translateX(0px); }
      .services__pillar-item-bg_2 {
        width: 1000px;
        top: 200px;
        background-color: #b3aba4;
        -webkit-transform: translateX(0px);
        transform: translateX(0px); }
      .services__pillar-item-bg_3 {
        width: 1000px;
        top: 100px;
        background-color: #c3b55c;
        -webkit-transform: translateX(0px);
        transform: translateX(0px); }
    .services__pillar-item-text {
      font-size: 18px;
      line-height: 25px;
      padding: 5px; }
      .services__pillar-item-text-title {
        font-size: 32px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 2px solid #c9a721;
        font-family: Ubuntu, sans-serif;
        position: relative; }
        .services__pillar-item-text-title-info {
          position: absolute;
          right: 0;
          top: 0;
          width: 30px;
          height: 30px;
          background-image: url(../../../img/information.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 30px;
          cursor: pointer; }
          .services__pillar-item-text-title-info:hover .services__pillar-item-text-title-info-text-wrap_1 {
            height: 180px; }
          .services__pillar-item-text-title-info:hover .services__pillar-item-text-title-info-text-wrap_2 {
            height: 150px; }
          .services__pillar-item-text-title-info:hover .services__pillar-item-text-title-info-text-wrap_3 {
            height: 150px; }
          .services__pillar-item-text-title-info-text {
            color: #121212;
            font-size: 16px;
            font-weight: normal;
            width: 100%;
            height: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 20px; }
            .services__pillar-item-text-title-info-text-wrap {
              position: absolute;
              overflow: hidden;
              right: 0;
              top: 54px;
              width: 350px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              height: 0px;
              background-color: #f4f3f3;
              border: 2px solid #c9a721;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              border-top: none;
              -webkit-transition: all .5s ease;
              transition: all .5s ease; }
              .services__pillar-item-text-title-info-text-wrap_1 {
                top: 91px; }
              .services__pillar-item-text-title-info-text-wrap_2 {
                top: 91px; }
              .services__pillar-item-text-title-info-text-wrap_3 {
                top: 91px; }
      .services__pillar-item-text-wrap {
        width: 550px;
        height: 400px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #f4f3f3;
        padding: 100px 100px;
        position: absolute;
        top: 60px;
        left: 500px;
        z-index: 3;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        border-radius: 3px;
        -webkit-box-shadow: 1px 10px 37px -2px #21210a;
        box-shadow: 1px 10px 37px -2px #21210a; }
        .services__pillar-item-text-wrap_1 {
          top: 220px;
          left: 400px;
          z-index: 2; }
        .services__pillar-item-text-wrap_2 {
          top: 220px;
          left: 400px;
          z-index: 3; }
        .services__pillar-item-text-wrap_3 {
          top: 200px;
          left: 250px;
          z-index: 3; }
    .services__pillar-item-foto {
      width: 750px;
      height: 500px;
      position: absolute;
      right: 100px;
      top: 0px;
      background-color: aqua;
      background-size: 150%;
      background-position-x: -100px;
      background-position-y: 0px;
      background-repeat: no-repeat;
      z-index: 2;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      -webkit-box-shadow: 0 5px 39px 7px #21210a;
      box-shadow: 0 5px 39px 7px #21210a;
      border-radius: 3px; }
      .services__pillar-item-foto_1 {
        top: 180px;
        z-index: 3;
        background-image: url(../../../img/1_s.jpeg); }
      .services__pillar-item-foto_2 {
        top: 180px;
        z-index: 2;
        background-image: url(../../../img/2_s.jpg); }
      .services__pillar-item-foto_3 {
        top: 180px;
        z-index: 2;
        right: 300px;
        background-image: url(../../../img/3_s.png); }
  .services__pillar-bg_animate {
    -webkit-transform: translateY(100px) translateX(-280px);
    transform: translateY(100px) translateX(-280px); }
  @-webkit-keyframes move_bg {
    0% {
      background-position-x: -100px;
      background-position-y: 0px; }
    50% {
      background-position-x: 0;
      background-position-y: -100px; }
    100% {
      background-position-x: -100px;
      background-position-y: 0px; } }
  @keyframes move_bg {
    0% {
      background-position-x: -100px;
      background-position-y: 0px; }
    50% {
      background-position-x: 0;
      background-position-y: -100px; }
    100% {
      background-position-x: -100px;
      background-position-y: 0px; } }
  @-webkit-keyframes move_bg_left {
    0% {
      background-position-x: -100px;
      background-position-y: 0px; }
    50% {
      background-position-x: -200px;
      background-position-y: -100px; }
    100% {
      background-position-x: -100px;
      background-position-y: 0px; } }
  @keyframes move_bg_left {
    0% {
      background-position-x: -100px;
      background-position-y: 0px; }
    50% {
      background-position-x: -200px;
      background-position-y: -100px; }
    100% {
      background-position-x: -100px;
      background-position-y: 0px; } } }

@import url("https://fonts.googleapis.com/css?family=Raleway");
.socialIcons {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  margin: auto;
  height: 100px;
  width: 200px;
  text-align: center;
  font-size: 0; }
  .socialIcons li {
    display: inline-block; }
    .socialIcons li a {
      text-align: center;
      display: inline-block;
      font-size: 3rem;
      height: 100px;
      width: 100px;
      line-height: 100px;
      color: #c9a721;
      -webkit-transition: all ease 0.5s;
      transition: all ease 0.5s;
      text-shadow: 0px 0px 1px black, 0px 0px 1px black;
      -webkit-transform: rotateX(-30deg);
      transform: rotateX(-30deg); }
      .socialIcons li a:hover {
        -webkit-transform: rotateX(-30deg) translateY(-20px);
        transform: rotateX(-30deg) translateY(-20px); }
        .socialIcons li a:hover.facebook {
          color: #365899;
          text-shadow: 0px 0px 0px #365899,0px 1px 2px #2f4d86,0px 2px 2px #294273,0px 3px 2px #223760,0px 4px 2px #1b2d4e,0px 5px 2px #15223b; }
        .socialIcons li a:hover.instagram {
          color: #C32AA3;
          text-shadow: 0px 0px 0px #C32AA3,0px 1px 2px #ae2591,0px 2px 2px #992180,0px 3px 2px #841c6e,0px 4px 2px #6f185d,0px 5px 2px #5a134b; }

.otherPens {
  position: absolute;
  color: #212121;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem; }

@media only screen and (min-width: 1024px) {
  .tnh-popup {
    position: absolute;
    width: 500px;
    height: 300px;
    left: calc(50% - 250px);
    top: calc(50% - 200px);
    background-color: #f4f3f3;
    border-radius: 5px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 100px 50px; }
    .tnh-popup__esc {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background-image: url(../../../img/cancel.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px; }
    .tnh-popup__wrap {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      background-color: rgba(18, 18, 18, 0.5);
      z-index: 10; }
      .tnh-popup__wrap_close {
        display: none; }
    .tnh-popup__text {
      text-align: center;
      font-size: 30px; } }

@media only screen and (min-width: 1024px) {
  .works__ankor {
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: -300px; }
  .works__title {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 70px;
    text-align: center;
    font-family: Ubuntu,sans-serif;
    color: #121212;
    font-weight: 700; }
  .works__bg {
    height: 50%;
    width: 20%;
    display: inline-block;
    background-size: 0;
    z-index: 2;
    position: relative; }
    .works__bg-wrap {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
  .works__wrap {
    width: 100%;
    height: 520px;
    margin-bottom: 150px;
    background-color: #f4f3f3;
    overflow: hidden;
    -webkit-box-shadow: inset 0 94px 58px -96px #2b2430, inset 0 -94px 58px -96px #2b2430;
    box-shadow: inset 0 94px 58px -96px #2b2430, inset 0 -94px 58px -96px #2b2430;
    font-size: 0%;
    font-family: Ubuntu, sans-serif;
    position: relative; }
  .works__slider {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 0;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1; }
    .works__slider-text {
      width: 30%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 250px;
      line-height: 150px;
      font-family: 'Saira Stencil One', cursive;
      color: #f4f3f3;
      padding-left: 30px; }
  .works__text {
    width: 40%;
    height: 90%;
    top: 5%;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 200px;
    z-index: 3; }
    .works__text-wrap {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 70px 20px;
      padding-bottom: 25px;
      border: 1px solid #121212;
      position: absolute;
      text-align: center;
      background-color: #f4f3f3; }
      .works__text-wrap_project {
        left: 100px;
        top: 50px; }
      .works__text-wrap_rooms {
        left: 233px;
        top: 216px;
        padding-top: 110px;
        padding-right: 40px;
        text-align: left; }
      .works__text-wrap_cats {
        left: 500px;
        bottom: 106px;
        padding-top: 30px;
        min-width: 150px; }
      .works__text-wrap_furniture {
        left: 320px;
        top: 80px;
        text-align: center;
        padding: 10px;
        border: none; }
      .works__text-wrap_city {
        left: 440px;
        top: 80px;
        text-align: center;
        padding: 10px;
        border: none; }
      .works__text-wrap_cli {
        left: 560px;
        top: 80px;
        text-align: center;
        padding: 10px;
        border: none; }
    .works__text-title {
      font-size: 20px; }
      .works__text-title_furniture {
        font-size: 15px;
        padding-bottom: 10px; }
      .works__text-title_city {
        font-size: 15px;
        padding-bottom: 10px; }
      .works__text-title_cli {
        font-size: 15px;
        padding-bottom: 10px; }
    .works__text-count {
      font-size: 40px;
      font-weight: bold;
      -webkit-transition: all 1.5s ease;
      transition: all 1.5s ease; }
      .works__text-count_rooms {
        font-weight: 400;
        font-size: 55px; }
      .works__text-count_furniture {
        font-weight: 400;
        font-size: 20px; }
      .works__text-count_city {
        font-weight: 400;
        font-size: 20px; }
      .works__text-count_cli {
        font-weight: 400;
        font-size: 20px; }
      .works__text-count_activate {
        text-shadow: 3px 3px 0px #c9a721; }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    25% {
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg); }
    50% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    75% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg); }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); } }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    25% {
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg); }
    50% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    75% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg); }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); } } }

@media only screen and (min-width: 1024px) {
  .wrap {
    width: 100%;
    min-width: 1200px;
    height: auto; } }
