@media only screen and (min-width: 320px) and (max-width: 768px) {
  .content__wrap {
    margin-top: 50px;
    margin-bottom: 60px;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #f4f3f3;
    transition: all .3s ease;
    position: relative; }
    .content__wrap_open-menu {
      transform: translateY(180px); } }
