@media only screen and (min-width: 1024px) {
  .header__wrap {
    width: 100%;
    min-width: 1200px;
    height: 120px;
    position: fixed;
    top: 0;
    font-size: 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 10; }
  .header__main {
    width: calc(100% - 200px);
    height: 100%;
    box-sizing: border-box;
    padding-left: 100px;
    position: relative; }
    .header__main:after {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      content: "";
      width: 0px;
      height: 100%;
      display: inline-block;
      background-color: rgba(18, 18, 18, 0.9);
      z-index: -1;
      transition: all .5s ease; }
    .header__main_activate:after {
      width: 100%; }
    .header__main:hover:after {
      width: 100%; }
  .header__logo {
    display: inline-block;
    height: 100%;
    width: 250px;
    background-image: url(../../../img/LOGO.png);
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: 90%;
    cursor: pointer; }
    .header__logo_enable {
      cursor: default; }
  .header__menu {
    display: inline-block;
    height: 100%;
    font-size: 18px;
    color: #f4f3f3; }
    .header__menu-wrap {
      position: absolute;
      left: 350px;
      top: 0;
      width: calc(100% - 350px);
      height: 100%;
      box-sizing: border-box;
      display: inline-block;
      padding: 40px 50px;
      padding-left: 20px; }
    .header__menu-item {
      display: inline-block;
      box-sizing: border-box;
      padding: 10px 30px;
      width: auto;
      margin-right: 10px;
      transition: all .5s ease;
      position: relative;
      z-index: 1;
      cursor: pointer;
      text-decoration: none;
      color: #f4f3f3; }
      .header__menu-item_activate {
        color: #121212 !important;
        user-select: none;
        cursor: default; }
        .header__menu-item_activate::after {
          width: 100% !important; }
      .header__menu-item_phone {
        right: 10px;
        top: 40px;
        position: absolute;
        padding-left: 50px; }
        .header__menu-item_phone::before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 10px;
          top: 7px;
          width: 30px;
          height: 30px;
          background-image: url(../../../img/phone.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 30px; }
        .header__menu-item_phone::after {
          display: none !important; }
        .header__menu-item_phone:hover {
          color: #f4f3f3 !important; }
          .header__menu-item_phone:hover:visited {
            color: #f4f3f3 !important; }
          .header__menu-item_phone:hover::before {
            animation: before_animate .5s ease; }
      .header__menu-item:visited {
        color: #f4f3f3; }
      .header__menu-item:hover {
        color: #121212; }
        .header__menu-item:hover:visited {
          color: #121212; }
        .header__menu-item:hover::after {
          width: 100%; }
      .header__menu-item::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0px;
        border-radius: 2px;
        transition: all .2s ease;
        background-color: #c9a721;
        z-index: -1; }
  .header__contactbtn {
    height: 100%;
    width: 200px;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f4f3f3;
    color: #121212;
    font-size: 20px;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
    .header__contactbtn:visited {
      color: #121212; }
    .header__contactbtn:hover {
      color: #f4f3f3; }
      .header__contactbtn:hover::after {
        width: 100%; }
      .header__contactbtn:hover:visited {
        color: #f4f3f3; }
    .header__contactbtn::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0px;
      transition: all .5s ease;
      background-color: #c9a721;
      z-index: -1; }
    .header__contactbtn_hover {
      display: none; }
  @keyframes before_animate {
    0% {
      transform: rotate(0deg); }
    20% {
      transform: rotate(-20deg); }
    40% {
      transform: rotate(15deg); }
    60% {
      transform: rotate(-12deg); }
    80% {
      transform: rotate(8deg); }
    100% {
      transform: rotate(0deg); } } }

@media only screen and (min-width: 1024px) and (max-width: 1424px) {
  .header__main {
    padding-left: 10px; }
  .header__menu-wrap {
    left: 250px; }
  .header__menu-item_phone {
    right: -20px;
    padding-left: 40px !important; }
  .header__menu-item {
    padding: 10px; } }
