// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {
    .works {
        
        &__ankor {
            position: absolute;

            height: 0;
            width: 0;

            left: 0;
            top: -300px;
        }

        &__title {
            position: absolute;

            top: 30px;
            left: 50px;

            font-size: 70px;
            text-align: center;
            font-family: Ubuntu,sans-serif;
            color: #121212;
            font-weight: 700;
        }

        &__bg {
            height: 50%;
            width: 20%;
            display: inline-block;

            background-size: 0;

            z-index: 2;
            position: relative;

            &-wrap {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }

        &__wrap {

            width: 100%;
            height: 520px;
            margin-bottom: 150px;
            background-color: #f4f3f3;

            overflow: hidden;

            box-shadow: inset 0 94px 58px -96px #2b2430, inset 0 -94px 58px -96px #2b2430;

            font-size: 0%;
            font-family: Ubuntu, sans-serif;

            position: relative;
        }

        &__slider {
            width: 100%;
            height: 30%;

            position: absolute;
            top: 35%;
            left: 0;

            display: inline-block;

            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;

            z-index: 1;

            &-text {
                width: 30%;
                height: 100%;

                position: absolute;
                left: 0;
                top: 0;

                font-size: 250px;
                line-height: 150px;
                font-family: 'Saira Stencil One', cursive;
                color: #f4f3f3;
                padding-left: 30px;
            }
        }

        &__text {

            width: 40%;
            height: 90%;
            top: 5%;

            display: inline-block;

            box-sizing: border-box;

            position: absolute;

            right: 200px;

            z-index: 3;

            &-wrap {
                box-sizing: border-box;
                padding: 70px 20px;
                padding-bottom: 25px;

                border: 1px solid #121212;

                position: absolute;

                text-align: center;

                background-color: #f4f3f3;

                &_project {
                    left: 100px;
                    top: 50px;
                }

                &_rooms {
                    left: 233px;
                    top: 216px;
                    padding-top: 110px;
                    padding-right: 40px;
                    text-align: left;
                }

                &_cats {
                    left: 500px;
                    bottom: 106px;
                    padding-top: 30px;
                    min-width: 150px;
                }

                &_furniture {
                    left: 320px;
                    top: 80px;
                    text-align: center;
                    padding: 10px;

                    border: none;
                }

                &_city {
                    left: 440px;
                    top: 80px;
                    text-align: center;
                    padding: 10px;

                    border: none;
                }

                &_cli {
                    left: 560px;
                    top: 80px;
                    text-align: center;
                    padding: 10px;

                    border: none;
                }
            }

            &-title {
                font-size: 20px;

                &_furniture {
                    font-size: 15px;
                    padding-bottom: 10px;
                }
                &_city {
                    font-size: 15px;
                    padding-bottom: 10px;
                }

                &_cli {
                    font-size: 15px;
                    padding-bottom: 10px;
                }

                &_cats {
                }
            }

            &-count {
                font-size: 40px;
                font-weight: bold;

                transition: all 1.5s ease;

                &_rooms {
                    font-weight: 400;
                    font-size: 55px;
                }

                &_furniture {
                    font-weight: 400;
                    font-size: 20px;
                }

                &_city {
                    font-weight: 400;
                    font-size: 20px;
                }

                &_cli {
                    font-weight: 400;
                    font-size: 20px;
                }

                &_cats {}

                &_activate {
                    text-shadow: 3px 3px 0px #c9a721;
                }
            }
        }

        &__counter {
            
        }
    }

    @keyframes round {
        0% {
            transform: rotate(0deg);
        }

        25% {
            transform: rotate(-3deg);
        }

        50% {
            transform: rotate(0deg);
        }

        75%{
            transform: rotate(3deg);
        }

        100% {

            transform: rotate(0deg);
        }
    }
}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
