@media only screen and (min-width: 320px) and (max-width: 768px) {
  .content__wrap {
    margin-top: 50px;
    margin-bottom: 60px;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #f4f3f3;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
  }
  .content__wrap_open-menu {
    -webkit-transform: translateY(180px);
            transform: translateY(180px);
  }
}
/*# sourceMappingURL=content.css.map */