// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .content {

        &__wrap {
            margin-top: 50px;
            margin-bottom: 60px;


            height: auto;
            width: 100%;

            padding: 20px;

            background-color: #f4f3f3;

            transition: all .3s ease;

            position: relative;

            &_open-menu {
                transform: translateY(180px);
            }
        }
    }
}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
