@media only screen and (min-width: 320px) and (max-width: 768px) {
  .portfolio__wrap .slick-next,
  .portfolio__wrap .slick-prev {
    width: 40px !important;
    height: 40px !important;
    background-color: #f4f3f3 !important;
    z-index: 1;
    border-radius: 50%;
    background-image: url("../../../../img/arr.svg") !important;
    background-position: center !important;
    background-position-x: 12px !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important; }
    .portfolio__wrap .slick-next::before,
    .portfolio__wrap .slick-prev::before {
      content: '' !important;
      font-size: 40px !important;
      color: #c9a721 !important;
      position: absolute !important;
      left: 0 !important;
      top: -5px !important; }
  .portfolio__wrap .slick-next {
    right: -20px !important; }
  .portfolio__wrap .slick-prev {
    left: -20px !important;
    background-position-x: 7px !important;
    background-image: url("../../../../img/arr_left.svg") !important; }
  .portfolio {
    margin-bottom: 50px;
    border-bottom: 1px solid #121212;
    padding-bottom: 40px; }
    .portfolio__ankor {
      position: absolute;
      top: -100px; }
    .portfolio__wrap {
      margin-top: 50px;
      padding: 0px 20px;
      height: auto; }
    .portfolio__slider {
      height: 100%; }
      .portfolio__slider__wrap {
        margin: 10px 0px;
        width: 100%;
        height: 300px;
        position: relative; }
      .portfolio__slider__item {
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .portfolio__slider__title {
        margin-bottom: 10px;
        font-size: 30px;
        color: #121212;
        font-weight: bold; }
    .portfolio__subtitle {
      margin-bottom: 20px; }
    .portfolio__style {
      text-align: right; }
    .portfolio__title {
      font-size: 50px;
      text-align: left;
      margin-top: 80px;
      margin-bottom: 50px;
      position: relative;
      color: #121212; } }
