@media only screen and (min-width: 1024px) {
  .about {
    width: 1220px;
    height: auto;
    margin: 0 auto; }
    .about__wrap {
      height: auto;
      width: 100%;
      background-color: #f4f3f3;
      padding: 120px 0;
      box-shadow: inset 0px 82px 101px -39px #121212; }
    .about__title {
      font-family: Ubuntu,sans-serif;
      font-size: 50px;
      margin-bottom: 60px;
      margin-top: 20px;
      color: #121212;
      text-align: center; }
    .about__text {
      font-size: 18px;
      color: #121212;
      padding: 0 30px; }
    .about__img {
      height: 100%;
      width: 1100px;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transform: scale(1);
      transition: all .2s linear; }
      .about__img:hover {
        transform: scale(1.02); }
      .about__img-wrap {
        margin: 30px 0;
        height: 600px; }
        .about__img-wrap_big {
          width: max-content;
          height: auto;
          margin: 30px auto; }
      .about__img_small {
        width: 360px;
        height: 360px;
        margin: 0 10px;
        display: inline-block; } }
