@import url("https://fonts.googleapis.com/css?family=Raleway");
.socialIcons {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
  margin: auto;
  height: 100px;
  width: 200px;
  text-align: center;
  font-size: 0; }
  .socialIcons li {
    display: inline-block; }
    .socialIcons li a {
      text-align: center;
      display: inline-block;
      font-size: 3rem;
      height: 100px;
      width: 100px;
      line-height: 100px;
      color: #c9a721;
      transition: all ease 0.5s;
      text-shadow: 0px 0px 1px black, 0px 0px 1px black;
      transform: rotateX(-30deg); }
      .socialIcons li a:hover {
        transform: rotateX(-30deg) translateY(-20px); }
        .socialIcons li a:hover.facebook {
          color: #365899;
          text-shadow: 0px 0px 0px #365899,0px 1px 2px #2f4d86,0px 2px 2px #294273,0px 3px 2px #223760,0px 4px 2px #1b2d4e,0px 5px 2px #15223b; }
        .socialIcons li a:hover.instagram {
          color: #C32AA3;
          text-shadow: 0px 0px 0px #C32AA3,0px 1px 2px #ae2591,0px 2px 2px #992180,0px 3px 2px #841c6e,0px 4px 2px #6f185d,0px 5px 2px #5a134b; }

.otherPens {
  position: absolute;
  color: #212121;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2rem; }
