@media only screen and (min-width: 1024px) {
  .works__ankor {
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: -300px; }
  .works__title {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 70px;
    text-align: center;
    font-family: Ubuntu,sans-serif;
    color: #121212;
    font-weight: 700; }
  .works__bg {
    height: 50%;
    width: 20%;
    display: inline-block;
    background-size: 0;
    z-index: 2;
    position: relative; }
    .works__bg-wrap {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0; }
  .works__wrap {
    width: 100%;
    height: 520px;
    margin-bottom: 150px;
    background-color: #f4f3f3;
    overflow: hidden;
    box-shadow: inset 0 94px 58px -96px #2b2430, inset 0 -94px 58px -96px #2b2430;
    font-size: 0%;
    font-family: Ubuntu, sans-serif;
    position: relative; }
  .works__slider {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 0;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1; }
    .works__slider-text {
      width: 30%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 250px;
      line-height: 150px;
      font-family: 'Saira Stencil One', cursive;
      color: #f4f3f3;
      padding-left: 30px; }
  .works__text {
    width: 40%;
    height: 90%;
    top: 5%;
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right: 200px;
    z-index: 3; }
    .works__text-wrap {
      box-sizing: border-box;
      padding: 70px 20px;
      padding-bottom: 25px;
      border: 1px solid #121212;
      position: absolute;
      text-align: center;
      background-color: #f4f3f3; }
      .works__text-wrap_project {
        left: 100px;
        top: 50px; }
      .works__text-wrap_rooms {
        left: 233px;
        top: 216px;
        padding-top: 110px;
        padding-right: 40px;
        text-align: left; }
      .works__text-wrap_cats {
        left: 500px;
        bottom: 106px;
        padding-top: 30px;
        min-width: 150px; }
      .works__text-wrap_furniture {
        left: 320px;
        top: 80px;
        text-align: center;
        padding: 10px;
        border: none; }
      .works__text-wrap_city {
        left: 440px;
        top: 80px;
        text-align: center;
        padding: 10px;
        border: none; }
      .works__text-wrap_cli {
        left: 560px;
        top: 80px;
        text-align: center;
        padding: 10px;
        border: none; }
    .works__text-title {
      font-size: 20px; }
      .works__text-title_furniture {
        font-size: 15px;
        padding-bottom: 10px; }
      .works__text-title_city {
        font-size: 15px;
        padding-bottom: 10px; }
      .works__text-title_cli {
        font-size: 15px;
        padding-bottom: 10px; }
    .works__text-count {
      font-size: 40px;
      font-weight: bold;
      transition: all 1.5s ease; }
      .works__text-count_rooms {
        font-weight: 400;
        font-size: 55px; }
      .works__text-count_furniture {
        font-weight: 400;
        font-size: 20px; }
      .works__text-count_city {
        font-weight: 400;
        font-size: 20px; }
      .works__text-count_cli {
        font-weight: 400;
        font-size: 20px; }
      .works__text-count_activate {
        text-shadow: 3px 3px 0px #c9a721; }
  @keyframes round {
    0% {
      transform: rotate(0deg); }
    25% {
      transform: rotate(-3deg); }
    50% {
      transform: rotate(0deg); }
    75% {
      transform: rotate(3deg); }
    100% {
      transform: rotate(0deg); } } }
