// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {
  .about {
    width: 1220px;
    height: auto;
    margin: 0 auto;


    &__wrap {
      height: auto;
      width: 100%;

      background-color: #f4f3f3;

      padding: 120px 0;

      box-shadow: inset 0px 82px 101px -39px #121212; 
    }

    &__title {
      font-family: Ubuntu,sans-serif;
      font-size: 50px;
      margin-bottom: 60px;
      margin-top: 20px;
      color: #121212;
      text-align: center;
    }

    &__text {
      font-size: 18px;
      color: #121212;

      padding: 0 30px;
    }

    &__img {
      height: 100%;
      width: 1100px; 

      margin: 0 auto;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      transform: scale(1);
      transition: all .2s linear;

      &:hover {
        transform: scale(1.02);
      }

      &-wrap {
        margin: 30px 0;
        height: 600px;


        &_big {
          width: max-content;
          height: auto;

          margin: 30px auto;
        }
      }

      &_small {
        width: 360px;
        height: 360px;

        margin: 0 10px;

        display: inline-block;
      }

    }
  }
}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
