@charset "UTF-8";
@media only screen and (min-width: 1024px) {
  .slick-next,
  .slick-prev {
    width: 40px !important;
    height: 40px !important;
    background-color: #f4f3f3 !important;
    z-index: 1;
    border-radius: 50%;
    background-image: url("../../../img/arr.svg") !important;
    background-position: center !important;
    background-position-x: 12px !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
  }
  .slick-next::before,
  .slick-prev::before {
    content: '' !important;
    font-size: 40px !important;
    color: #c9a721 !important;
    position: absolute !important;
    left: 0 !important;
    top: -5px !important;
  }
  .slick-next {
    right: -20px !important;
  }
  .slick-prev {
    left: -20px !important;
    background-position-x: 7px !important;
    background-image: url("../../../img/arr_left.svg") !important;
  }
  .portfolio {
    margin-top: 150px;
    height: 50vh;
    position: relative;
  }
  .portfolio__add {
    width: 200px;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #f4f3f3;
    background-color: transparent;
    position: relative;
    font-family: Ubuntu, sans-serif;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    padding-top: 13px;
    font-size: 25px;
    -webkit-transition: all .3s 0.2s ease;
    transition: all .3s 0.2s ease;
  }
  .portfolio__add:hover {
    padding-left: 20px;
  }
  .portfolio__add:hover::after {
    right: 100%;
    padding-left: 0;
  }
  .portfolio__add::after {
    content: 'Подробнее';
    position: absolute;
    font-family: Ubuntu, sans-serif;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
    padding-top: 13px;
    font-size: 20px;
    background-color: #f4f3f3;
    color: #121212;
    overflow: hidden;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
  }
  .portfolio__pillar {
    position: absolute;
    width: 500px;
    height: 100%;
    top: 0;
    left: calc(50% - 250px);
    border-radius: 5px;
    background-color: #c9a721;
    -webkit-box-shadow: inset 0 0 138px 9px #121212;
            box-shadow: inset 0 0 138px 9px #121212;
  }
  .portfolio__pillar-title {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 70px 50px 300px;
    font-size: 70px;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    color: #f4f3f3;
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .portfolio__pillar-title:hover {
    text-shadow: 4px 16px 13px #21210a;
    -webkit-transform: translateY(-10px) translateX(-5px);
            transform: translateY(-10px) translateX(-5px);
  }
  .portfolio_right > .portfolio__slider__wrap {
    right: 0 !important;
    left: auto !important;
  }
  .portfolio_right > .portfolio__text {
    left: 0 !important;
    right: auto !important;
    text-align: right;
    margin-right: 0;
    margin-left: 100px;
  }
  .portfolio_right > .portfolio__text .portfolio__style {
    left: -50px !important;
    right: auto !important;
  }
  .portfolio > .portfolio__slider__wrap {
    left: 0;
    top: 0;
  }
  .portfolio > .portfolio__text {
    right: 0;
    top: 0;
  }
  .portfolio__wrap {
    min-width: 1220px;
    width: 80%;
    margin: 0 auto;
    height: auto;
    margin-top: 120px;
    position: relative;
    padding-top: 170px;
    padding-bottom: 100px;
  }
  .portfolio__slider {
    width: calc(100% - 80px);
    margin-left: 40px;
  }
  .portfolio__slider__wrap {
    width: 60%;
    height: 100%;
    position: absolute;
    border-radius: 3px;
    z-index: 2;
  }
  .portfolio__slider__item {
    width: 100%;
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
  .portfolio__text {
    width: calc(40% - 100px);
    height: 100%;
    position: absolute;
    margin-right: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px;
    padding-top: 150px;
    text-align: left;
    z-index: 1;
  }
  .portfolio__title {
    font-size: 60px;
    color: #f4f3f3;
    font-family: Ubuntu, sans-serif;
    padding-bottom: 20px;
  }
  .portfolio__subtitle {
    font-size: 30px;
    color: #f4f3f3;
    font-family: Ubuntu, sans-serif;
    padding-bottom: 20px;
  }
  .portfolio__style {
    position: absolute;
    right: -50px;
    top: calc(50% - 35px);
    font-size: 20px;
    color: #f4f3f3;
    font-family: Ubuntu, sans-serif;
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=portfolio.css.map */