// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
  .about {

    &__wrap {
      margin: 80px 30px;
    }

    &__title {
      font-family: Ubuntu, sans-serif;
      font-size: 39px;

      margin-bottom: 40px;
    }

    &__text {
      font-size: 18px;
      color: #121212;
    }

    &__img {
      height: 100%;
      width: 90%;

      margin: 0 auto;

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;


      &-slider {

        overflow-x: scroll;
        position: relative;
        height: 350px;

        &-wrap {
          overflow: hidden;
          -webkit-overflow-scrolling: touch;
          height: 350px;
          z-index: 1;

          &-wrap {
            width: max-content;
            height: 350px;
          }
        }
      }

      &-wrap {
        margin: 30px 0;
        height: 280px;

        &_big {
          width: max-content;
          height: auto;

          margin: 30px auto;
        }
      }

      &_small {
        width: 300px;
        height: 300px;

        margin: 10px;

        display: inline-block;
      }

    }
  }
}


// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}