@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contact-form {
    width: 300px;
    height: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 40px;
    position: absolute;
    left: calc(50% - 150px);
    top: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #f4f3f3;
    border-radius: 20px;
  }
  .contact-form_open {
    top: calc(50% - 200px);
  }
  .contact-form__title {
    text-align: center;
    font-size: 25px;
    color: #c9a721;
    margin-bottom: 20px;
  }
  .contact-form__esc {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url(../../../../img/cancel.svg);
  }
  .contact-form__wrap {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(18, 18, 18, 0.5);
    display: none;
    z-index: 2;
  }
  .contact-form__wrap_open {
    display: block;
  }
  .contact-form__input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid #c9a721;
    border-radius: 3px;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  .contact-form__btn {
    width: 100%;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #c9a721;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    color: #f4f3f3;
  }
}
/*# sourceMappingURL=contact-form.css.map */