// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .contact-form {

        width: 300px;
        height: auto;

        box-sizing: border-box;
        padding: 40px;

        position: absolute;
        left: calc(50% - 150px);
        top: 100%;
        transition: all .5s ease;

        background-color: #f4f3f3;

        border-radius: 20px;

        &_open {
            top: calc(50% - 200px);
        }

        &__title {
            text-align: center;
            font-size: 25px;

            color: #c9a721;

            margin-bottom: 20px;

        }

        &__esc {
            position: absolute;

            right: 0;
            top: 0;

            width: 40px;
            height: 40px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
            background-image: url(../../../../img/cancel.svg);
        }

        &__wrap {
            position: fixed;

            left: 0;
            top: 0;
            bottom: 0;
            right: 0;

            background-color: rgba(18,18,18,.5);

            display: none;

            z-index: 2;

            &_open {
                display: block;
            }
        }

        &__input {

            width: 100%;
            height: 50px;

            background-color: transparent;

            border: 2px solid #c9a721;
            border-radius: 3px;
            padding-left: 20px;

            margin-bottom: 10px;

            &_error {
                border: 2px solid #ee412a;
            }
        }

        &__btn {
            width: 100%;

            height: 40px;
            box-sizing: border-box;

            background-color: #c9a721;

            border-radius: 3px;
            text-align: center;
            padding-top: 10px;
            margin-top: 20px;

            color: #f4f3f3;
        }

        &__text {

            overflow: hidden;
            text-align: center;

            height: 0;
            padding-top: 20px;

            transition: all 0.5s ease;

            &_activate {
                height: 77px;
            }
        }
    }
}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
