// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {

    .footer {

        &__wrap {
            width: 100%;
            height: 100px;

            background-color: #121212;

            font-family: Ubuntu, sans-serif;

            position: relative;
            text-align: center;
        }

        &__right {
            display: inline-block;

            position: absolute;
            left: 100px;
            top: 40px;

            color: #f4f3f3;

            &_mail {
                color: #f4f3f3;


                &:visited {
                    color: #f4f3f3;
                }
            }
        }

        &__social {

            &-wrap {
                display: inline-block;
            }

            &-item {

            }

        }

        &__createby {
            position: absolute;
            right: 100px;
            top: 50px;
        }
    }
}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
