// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .footer {

        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

        &__slider-wrap {
            overflow: hidden;
            height: 61px;
            -webkit-overflow-scrolling: touch;

            &-wrap {

                width: max-content;
                -webkit-overflow-scrolling: touch;
            }
        }


        &__item {
            display: inline-block;

            width: auto;
            padding: 20px;
            padding-left: 40px;

            font-size: 18px;


            color: #f4f3f3;

            &:visited {
                color: #f4f3f3;
            }
        }

        &__contacts {

            background-image: url(../../../../img/phone.svg);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position-x: 10px;
            background-position-y: 19px;
        }

        &__form-contacts {
            background-image: url(../../../../img/arroba-symbol.svg);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position-x: 10px;
            background-position-y: 19px;
        }

        &__instagram {
            background-image: url(../../../../img/instagram.svg);
            background-repeat: no-repeat;
            background-size: 25px;
            background-position-x: 10px;
            background-position-y: 19px;
            
        }

        &__wrap {

            font-size: 0px;
            width: 100%;
            height: 70px;

            background-color: #121212;

            position: fixed;
            bottom: -90px;
            left: 0;

            z-index: 10;

            transition: all .3s ease;

            &_top {
                bottom: 0;
            }

            &::after {
                content: '';

                position: absolute;

                left: 0;
                top: -20px;

                width: 20px;
                height: 20px;

                background-color: #121212;

                background-image: url(../../../../img/circul.svg);
                background-size: 40px;
                background-position-x: 0px;
                background-position-y: 20px;
            }

            &::before {
                content: '';

                position: absolute;

                right: 0;
                top: -20px;

                width: 20px;
                height: 20px;

                background-color: #121212;

                background-image: url(../../../../img/circul.svg);
                background-size: 40px;
                background-position-x: 20px;
                background-position-y: 20px;
            }
        }
    }
}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
