.createby {
  display: inline-block;
  text-decoration: none;
  color: #f4f3f3;
  font-size: 0px;
}

.createby:visited {
  color: #f4f3f3;
}

.createby__span {
  font-size: 16px;
  display: inline-block;
  padding: 0px 1px;
}

.createby:hover > .createby__span:nth-child(1) {
  -webkit-animation: animate .3s ease;
          animation: animate .3s ease;
}

.createby:hover > .createby__span:nth-child(2) {
  -webkit-animation: animate .3s .05s ease;
          animation: animate .3s .05s ease;
}

.createby:hover > .createby__span:nth-child(4) {
  -webkit-animation: animate .3s .1s ease;
          animation: animate .3s .1s ease;
}

.createby:hover > .createby__span:nth-child(5) {
  -webkit-animation: animate .3s .15s ease;
          animation: animate .3s .15s ease;
}

.createby:hover > .createby__span:nth-child(6) {
  -webkit-animation: animate .3s .2s ease;
          animation: animate .3s .2s ease;
}

.createby:hover > .createby__span:nth-child(7) {
  -webkit-animation: animate .3s .25s ease;
          animation: animate .3s .25s ease;
}

.createby:hover > .createby__span:nth-child(8) {
  -webkit-animation: animate .3s .3s ease;
          animation: animate .3s .3s ease;
}

.createby:hover > .createby__span:nth-child(9) {
  -webkit-animation: animate .3s .35s ease;
          animation: animate .3s .35s ease;
}

.createby:hover > .createby__span:nth-child(10) {
  -webkit-animation: animate .3s .4s ease;
          animation: animate .3s .4s ease;
}

.createby:hover > .createby__span:nth-child(11) {
  -webkit-animation: animate .3s .45s ease;
          animation: animate .3s .45s ease;
}

.createby:hover > .createby__span:nth-child(12) {
  -webkit-animation: animate .3s .5s ease;
          animation: animate .3s .5s ease;
}

@-webkit-keyframes animate {
  0% {
    color: #f4f3f3;
  }
  25% {
  }
  50% {
    color: #000000;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  75% {
  }
  100% {
    color: #f4f3f3;
  }
}

@keyframes animate {
  0% {
    color: #f4f3f3;
  }
  25% {
  }
  50% {
    color: #000000;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  75% {
  }
  100% {
    color: #f4f3f3;
  }
}
/*# sourceMappingURL=createby.css.map */