.createby {
    display: inline-block;

    text-decoration: none;
    color: #f4f3f3;
    font-size: 0px;

    &:visited {
        color: #f4f3f3;
    }

    &__span {
        font-size: 16px;
        display: inline-block;
        padding: 0px 1px;    
    }

    &:hover {
        & > .createby__span:nth-child(1) {
            animation: animate .3s ease;
        }
        & > .createby__span:nth-child(2) {
            animation: animate .3s .05s ease;
        }
        & > .createby__span:nth-child(4) {
            animation: animate .3s .1s ease;
        }
        & > .createby__span:nth-child(5) {
            animation: animate .3s .15s ease;
        }
        & > .createby__span:nth-child(6) {
            animation: animate .3s .2s ease;
        }
        & > .createby__span:nth-child(7) {
            animation: animate .3s .25s ease;
        }
        & > .createby__span:nth-child(8) {
            animation: animate .3s .3s ease;
        }
        & > .createby__span:nth-child(9) {
            animation: animate .3s .35s ease;
        }
        & > .createby__span:nth-child(10) {
            animation: animate .3s .4s ease;
        }
        & > .createby__span:nth-child(11) {
            animation: animate .3s .45s ease;
        }
        & > .createby__span:nth-child(12) {
            animation: animate .3s .5s ease;
        }
    }

    @keyframes animate {
        0% {
            color: #f4f3f3;
        }
        25% {

        }
        50% {
            color: #000000;
            transform: translateY(-5px);
        }
        75% {

        }
        100%{
            color: #f4f3f3;
        }
    }
}