// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .services {

        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        transform: translateY(6px);

        position: relative;

        &__title {
            font-size: 50px;
            margin: 5px;
            margin-left: 50px;
            padding-right: 20px;

            text-align: right;

            border-top: 7px solid #c9a721;

            position: relative;

            margin-bottom: 30px;

            &::after {
                content: '';

                position: absolute;

                height: calc(100% + 20px);
                width: 50%;

                right: -5px;
                bottom: -20px;

                border-bottom: 7px solid #c9a721;
                border-right: 7px solid #c9a721;
                border-bottom-right-radius: 25px;
            }
        }

        &__slider-wrap {
            overflow: hidden;
            -webkit-overflow-scrolling: touch;

            &-wrap {
                width: max-content;
                -webkit-overflow-scrolling: touch;
            }
        }


        &__item {
            display: inline-block;

            width: calc(100vw - 85px);
            height: calc(100vh - 200px);

            font-size: 18px;


            color: #f4f3f3;

            margin: 0 10px;
            box-sizing: border-box;

            &_last {
                margin-right: 30px;
            }

            &__wrap {
                width: 100%;
                height: 100%;
                overflow: hidden;

                position: relative;
            }

            &-title-wrap {
                width: calc(100% - 40px);
                margin: 0 10px;
                position: absolute;
                bottom: 144px;
                left:40px;
                z-index: 2;

                background-color: rgba($color: #000000, $alpha: 0.3);

                &::after {
                    content: '';

                    position: absolute;
                    left: -50px;
                    top: -146px;

                    border: 35px solid transparent;
                    border-bottom: 35px solid #f4f3f3;
                    border-left: 35px solid #f4f3f3;

                }

                &::before {
                    content: '';

                    position: absolute;
                    left: -50px;
                    bottom: -70px;

                    border: 35px solid transparent;
                    border-left: 35px solid #f4f3f3;
                    border-top: 35px solid #f4f3f3;
                }
                
                &-info {

                    &-btn {
                        position: absolute;

                        left: 10px;
                        top: 25px;

                        width: 40px;
                        height: 40px;

                        background-image: url(../../../../img/information.svg);
                        background-position: center;
                        background-size: 40px;
                        background-repeat: no-repeat;
                    }
                }
            }

            &__photo1 {

                width: 100%;
                height: 100%;

                position: relative;

                z-index: 1;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                position: relative;
            }

            &-title {

                position: absolute;
                bottom: 150px;
                left: 0;

                box-sizing: border-box;

                line-height: 38px;
                font-size: 23px;
                font-weight: normal;
                color: #121212;
                padding-left: 60px;
                text-align: right;

                background-color: #f4f3f3;

                z-index: 2;

                &-info {

                    position: absolute;

                    left: 0;
                    bottom: 0;

                    width: 100%;
                    height: 0px;

                    transition: all 0.5s ease;

                    font-size: 17px;
                    padding: 0px;

                    box-sizing: border-box;

                    text-indent: 20px;
                    padding-left: 30px;
                    padding-right: 10px;

                    &::before {
                        content: '';
    
                        position: absolute;
                        left: -50px;
                        bottom: -70px;
    
                        border: 35px solid transparent;
                        border-left: 35px solid #f4f3f3;
                        border-top: 35px solid #f4f3f3;
                    }

                    &_open {
                        height: 150px;
                        padding: 20px 10px 20px 30px;
                    }

                    &_bg {
                        background-color: rgba($color: #121212, $alpha: 0.85);
                    }

                    &-btn {
                        position: absolute;

                        left: 0;
                        top: 20px;

                        width: 40px;
                        height: 40px;

                        background-image: url(../../../../img/information.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 40px;
                    }
                }
            }
        }

        &__wrap {

            font-size: 0px;
            width: 100%;
            margin-top: 50px;

            z-index: 0;
            transition: all .3s ease;

            position: relative;
        }
    }
}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
