// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
    
    .portfolio__wrap .slick-next,
    .portfolio__wrap .slick-prev {
        width: 40px !important;
        height: 40px !important;

        background-color: #f4f3f3 !important;

        z-index: 1;
        border-radius: 50%;

        background-image: url('../../../../img/arr.svg') !important;
        background-position: center !important;
        background-position-x: 12px !important;
        background-repeat: no-repeat !important;
        background-size: 20px !important;

        &::before {
            content: '' !important;
            font-size: 40px !important;
            color: #c9a721 !important;
            position: absolute !important;
            left: 0 !important;
            top: -5px !important;
        }
    }

    .portfolio__wrap .slick-next {
        right: -20px !important;
    }

    .portfolio__wrap .slick-prev {
        left: -20px !important;
        background-position-x: 7px !important;
        background-image: url('../../../../img/arr_left.svg') !important;
    }
    
    
    .portfolio {

        margin-bottom: 50px;
        border-bottom: 1px solid #121212;
        padding-bottom: 40px;
        
        &__ankor {
            position: absolute;

            top: -100px;
        }

        &__wrap {
            margin-top: 50px;
            padding: 0px 20px;

            height: auto;
        }

        &__slider {
            height: 100%;

            &__wrap {
                margin: 10px 0px;
                width: 100%;
                height: 300px;

                position: relative;
            }

            &__item {
                height: 300px;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &__text {}

            &__title {
                margin-bottom: 10px;
                font-size: 30px;
                color: #121212;
                font-weight: bold;
            }

        }

        &__subtitle {
            margin-bottom: 20px;
        }

        &__style {
            text-align: right;
        }

        &__title {
            font-size: 50px;
            text-align: left;
            margin-top: 80px;
            margin-bottom: 50px;
            position: relative;
            color: #121212;
        }
    }
}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}