@media only screen and (min-width: 320px) and (max-width: 768px) {
  .portfolio__wrap {
    margin-top: 50px;
    padding: 0px 20px;
    height: 3000px;
  }
  .portfolio__title {
    color: red;
  }
}
/*# sourceMappingURL=portfolio.css.map */