@media only screen and (min-width: 320px) and (max-width: 768px) {
  .mainfooter {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1px solid #121212;
  }
  .mainfooter__wrap {
    width: 100%;
    height: auto;
    background-color: #f4f3f3;
  }
  .mainfooter__right {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mainfooter__mail {
    color: #121212;
    margin-top: 10px;
    display: inline-block;
  }
  .mainfooter__mail:visited {
    color: #121212;
  }
  .mainfooter__social-wrap {
    width: 100%;
    height: 100px;
    text-align: center;
  }
  .mainfooter__social-item {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
  }
  .mainfooter__createby {
    color: #121212;
  }
  .mainfooter__createby-wrap {
    width: 100%;
    height: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 50px;
    text-align: center;
  }
}
/*# sourceMappingURL=mainfooter.css.map */