// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .mainfooter {

        width: 90%;
        height: 100%;

        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 10px;

        box-sizing: border-box;

        border-top: 1px solid #121212;

        &__wrap {
            width: 100%;
            height: auto;

            background-color: #f4f3f3;
        }

        &__right {
            text-align: center;

            margin-top: 20px;
            margin-bottom: 20px;
        }

        &__mail {
            color: #121212;
            margin-top: 10px;
            display: inline-block;

            &:visited {
                color: #121212;
            }
        }

        &__social {

            &-wrap {

                width: 100%;
                height: 100px;

                text-align: center;

            }

            &-item {
                display: inline-block;
                width: 50px;
                height: 50px;

                margin: 20px;

                background-position: center;
                background-repeat: no-repeat;
                background-size: 40px;
            }
        }

        &__createby {
            color: #121212;

            &-wrap {

                width: 100%;
                height: 100px;

                box-sizing: border-box;
                padding-top: 50px;

                text-align: center;
            }
        }
    }
}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
