@media only screen and (min-width: 1024px) {
  .main-window {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .main-window__slider {
      height: 100%;
      font-size: 0;
      position: relative; }
      .main-window__slider-item {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: calc(100% - 200px);
        display: none;
        background-position: center;
        background-position-y: top;
        background-size: cover;
        transform: scale(1);
        background-repeat: no-repeat;
        z-index: -1;
        transition: all .5s ease; }
        .main-window__slider-item-noevents {
          pointer-events: none; }
        .main-window__slider-item_main {
          z-index: 3;
          left: 0;
          display: inline-block;
          filter: saturate(50%); }
          .main-window__slider-item_main:hover {
            box-shadow: 0px 0 50px 6px rgba(18, 18, 18, 0.3);
            filter: saturate(100%); }
          .main-window__slider-item_main-left {
            animation: left_slider 1s ease;
            transform: translateX(-100%); }
          .main-window__slider-item_main-right {
            animation: main_right_slider 1s ease;
            transform: translateX(200px);
            filter: saturate(0%); }
          .main-window__slider-item_main-hover {
            transform: translateX(-100px);
            filter: saturate(30%); }
        .main-window__slider-item_next {
          transform: scale(1.05) translateX(200px);
          z-index: 2;
          display: inline-block;
          filter: saturate(0%);
          cursor: pointer; }
          .main-window__slider-item_next:hover {
            transform: scale(1) translateX(200px);
            filter: saturate(100%); }
          .main-window__slider-item_next-left {
            animation: next_left_slider 1s ease;
            transform: scale(1) translateX(-200px); }
        .main-window__slider-item_next2 {
          transform: translateX(200px);
          z-index: 1;
          display: inline-block;
          filter: saturate(0%);
          cursor: pointer; }
        .main-window__slider-item_prev {
          display: inline-block;
          transform: translateX(-100%);
          z-index: 4;
          transition: all 1s ease; }
          .main-window__slider-item_prev-back {
            transform: translateX(0); }
      .main-window__slider-prevbtn {
        font-family: 'Oswald', sans-serif;
        position: absolute;
        width: 150px;
        height: 40px;
        box-sizing: border-box;
        padding-left: 20px;
        text-align: left;
        line-height: 40px;
        font-weight: 200;
        color: #f4f3f3;
        font-size: 30px;
        cursor: pointer;
        background-color: rgba(18, 18, 18, 0.8);
        border-radius: 2px;
        left: -40px;
        top: calc(50% - 50px);
        transform: rotate(90deg);
        z-index: 5;
        user-select: none; }
        .main-window__slider-prevbtn:hover::after {
          background-size: 30px; }
        .main-window__slider-prevbtn::after {
          content: '';
          position: absolute;
          right: 10px;
          transition: all .2s ease;
          width: 40px;
          height: 40px;
          transform: rotate(-90deg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          background-image: url(../../../img/next.svg); }
        .main-window__slider-prevbtn_noevents {
          pointer-events: none; }
      .main-window__slider-nextbtn {
        font-family: 'Oswald', sans-serif;
        position: absolute;
        width: 150px;
        height: 40px;
        box-sizing: border-box;
        padding-left: 70px;
        text-align: left;
        line-height: 40px;
        font-weight: 200;
        color: #f4f3f3;
        font-size: 30px;
        cursor: pointer;
        background-color: rgba(18, 18, 18, 0.8);
        border-radius: 2px;
        right: 30px;
        bottom: 10px;
        z-index: 5;
        user-select: none;
        pointer-events: none; }
        .main-window__slider-nextbtn::after {
          content: '';
          position: absolute;
          left: 10px;
          transition: all .2s ease;
          width: 40px;
          height: 40px;
          transform: rotate(-180deg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          background-image: url(../../../img/next.svg); }
    .main-window__title {
      font-family: Oswald, sans-serif;
      font-size: 100px;
      font-weight: 300;
      color: #f4f3f3;
      text-align: right;
      display: inline-block;
      width: 450px;
      height: 120px; }
      .main-window__title-wrap {
        border-radius: 40px;
        background: rgba(12, 12, 12, 0.15);
        box-shadow: 0px 0px 30px 32px rgba(12, 12, 12, 0.15);
        position: absolute;
        width: 70%;
        height: 230px;
        box-sizing: border-box;
        padding: 20px;
        padding-right: 320px;
        bottom: 50px;
        left: 20%;
        font-size: 20px;
        z-index: 5; }
    .main-window__subtitle {
      display: inline-block;
      font-family: Oswald, sans-serif;
      font-size: 40px;
      font-weight: 300;
      color: #f4f3f3;
      width: 450px;
      text-align: right;
      color: #c9a721; }
    .main-window__scroll {
      position: absolute;
      width: 40px;
      height: 40px;
      display: inline-block;
      background-image: url(../../../img/mouse.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
      z-index: 6;
      bottom: 10px;
      left: calc(50% - 10px); }
    .main-window__slider-info {
      font-family: Oswald, sans-serif;
      color: #f4f3f3;
      font-size: 40px;
      font-weight: 200;
      position: absolute;
      display: inline-block;
      width: 400px;
      height: 180px;
      right: 150px;
      bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer;
      overflow: hidden; }
      .main-window__slider-info-text {
        transition: all 0.5s ease;
        display: inline;
        line-height: 36px; }
        .main-window__slider-info-text-cursor {
          display: inline-block;
          font-size: 45px;
          font-weight: 200;
          animation: move .7s infinite linear; }
          .main-window__slider-info-text-cursor_fade {
            display: none; }
      .main-window__slider-info-link {
        position: absolute;
        bottom: 0px;
        left: 10px;
        display: inline-block;
        height: 40px;
        padding-left: 10px;
        font-size: 25px;
        color: #f4f3f3;
        text-decoration: none;
        border-left: 1px solid #c9a721;
        border-radius: 3px;
        z-index: 1; }
        .main-window__slider-info-link:visited {
          color: #f4f3f3; }
        .main-window__slider-info-link:after {
          content: '';
          position: absolute;
          display: inline-block;
          left: 0;
          height: 100%;
          width: 0px;
          background-color: #c9a721;
          z-index: -1;
          transition: all 0.2s ease;
          background-repeat: no-repeat;
          background-size: 20px;
          background-position-x: 108px;
          background-position-y: 11px;
          border-radius: 3px;
          background-image: url(../../../img/next.svg); }
      .main-window__slider-info:hover .main-window__slider-info-link::after {
        width: 150%; }
  @keyframes move {
    0% {
      color: transparent; }
    50% {
      color: white; }
    100% {
      color: transparent; } }
  @keyframes left_slider {
    0% {
      transform: translateX(-100px); }
    100% {
      transform: translateX(-100%); } }
  @keyframes next_left_slider {
    0% {
      transform: translateX(200px); }
    100% {
      transform: translateX(0px); } }
  @keyframes main_right_slider {
    0% {
      transform: translateX(0px);
      filter: saturate(100%); }
    100% {
      transform: translateX(200px);
      filter: saturate(0%); } } }
