@media only screen and (min-width: 1024px) {
  .services__wrap {
    width: 100%;
    height: auto;
    padding-top: 100px;
    background-color: #121212;
  }
  .services__pillar {
    width: 500px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #c9a721;
    height: auto;
    padding-bottom: 300px;
    margin-bottom: 60px;
    position: relative;
    -webkit-box-shadow: inset 0 0 138px 9px #121212;
            box-shadow: inset 0 0 138px 9px #121212;
    z-index: 2;
  }
  .services__pillar:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    border: 56px solid transparent;
    border-bottom: 0px solid #121212;
    border-left: 502px solid #121212;
  }
  .services__pillar::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
    height: 2px;
    -webkit-box-shadow: 0 0 58px 9px #121212;
            box-shadow: 0 0 58px 9px #121212;
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  .services__pillar-bg {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 350px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-image: url(../../../img/0_s.png);
    background-position-x: -70px;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .services__pillar-wrap {
    width: 1200px;
    padding: 0 200px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .services__pillar-title {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 100px 50px;
    padding-bottom: 300px;
    padding-top: 70px;
    font-size: 120px;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    color: #f4f3f3;
    font-weight: bold;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .services__pillar-subtitle {
    color: #f4f3f3;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }
  .services__pillar-subtitle-wrap {
    position: absolute;
    top: 270px;
    left: 20px;
    width: 460px;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgba(197, 164, 34, 0);
    padding: 50px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 2px;
  }
  .services__pillar-item-wrap {
    margin-left: -500px;
    margin-right: -500px;
    height: 800px;
    padding: 0 500px;
    position: relative;
  }
  .services__pillar-item-wrap_title {
    position: initial;
    height: 600px;
  }
  .services__pillar-item-wrap_title:hover .services__pillar-title {
    text-shadow: 4px 16px 13px #21210a;
    -webkit-transform: translateY(-10px) translateX(-5px);
            transform: translateY(-10px) translateX(-5px);
  }
  .services__pillar-item-wrap_title:hover .services__pillar-subtitle-wrap {
    -webkit-transform: translateY(-10px) translateX(120px);
            transform: translateY(-10px) translateX(120px);
    -webkit-box-shadow: 0px 23px 16px -6px #21210a;
            box-shadow: 0px 23px 16px -6px #21210a;
    background-color: rgba(197, 164, 34, 0.9);
  }
  .services__pillar-item-wrap_1:hover .services__pillar-item-bg_1 {
    -webkit-transform: translateY(10px) translateX(130px);
            transform: translateY(10px) translateX(130px);
    height: 480px;
  }
  .services__pillar-item-wrap_1:hover .services__pillar-item-text-wrap_1 {
    -webkit-transform: translateY(-30px) translateX(-170px);
            transform: translateY(-30px) translateX(-170px);
  }
  .services__pillar-item-wrap_1:hover .services__pillar-item-foto_1 {
    width: 550px;
    height: 450px;
    right: 200px;
    -webkit-animation: move_bg 7s infinite linear;
            animation: move_bg 7s infinite linear;
  }
  .services__pillar-item-wrap_2:hover .services__pillar-item-bg_2 {
    -webkit-transform: translateY(-10px) translateX(30px);
            transform: translateY(-10px) translateX(30px);
    height: 480px;
  }
  .services__pillar-item-wrap_2:hover .services__pillar-item-text-wrap_2 {
    -webkit-transform: translateY(110px) translateX(-130px);
            transform: translateY(110px) translateX(-130px);
  }
  .services__pillar-item-wrap_2:hover .services__pillar-item-foto_2 {
    width: 850px;
    height: 550px;
    -webkit-transform: translateY(50px) translateX(-60px);
            transform: translateY(50px) translateX(-60px);
    -webkit-animation: move_bg 7s infinite linear;
            animation: move_bg 7s infinite linear;
  }
  .services__pillar-item-wrap_3:hover .services__pillar-item-bg_3 {
    -webkit-transform: translateY(100px) translateX(30px);
            transform: translateY(100px) translateX(30px);
    height: 480px;
  }
  .services__pillar-item-wrap_3:hover .services__pillar-item-text-wrap_3 {
    -webkit-transform: translateY(50px) translateX(398px);
            transform: translateY(50px) translateX(398px);
  }
  .services__pillar-item-wrap_3:hover .services__pillar-item-foto_3 {
    width: 750px;
    height: 450px;
    -webkit-transform: translateY(100px) translateX(-300px);
            transform: translateY(100px) translateX(-300px);
    -webkit-animation: move_bg_left 7s infinite linear;
            animation: move_bg_left 7s infinite linear;
  }
  .services__pillar-item-bg {
    width: 900px;
    height: 520px;
    right: 300px;
    top: 50px;
    position: absolute;
    z-index: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-box-shadow: 0 23px 16px -6px #21210a;
            box-shadow: 0 23px 16px -6px #21210a;
    border-radius: 3px;
  }
  .services__pillar-item-bg_1 {
    width: 1000px;
    top: 200px;
    -webkit-box-shadow: 0 23px 16px -6px #0b231e;
            box-shadow: 0 23px 16px -6px #0b231e;
    background-color: #58b5a9;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .services__pillar-item-bg_2 {
    width: 1000px;
    top: 200px;
    background-color: #b3aba4;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .services__pillar-item-bg_3 {
    width: 1000px;
    top: 100px;
    background-color: #c3b55c;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .services__pillar-item-text {
    font-size: 18px;
    line-height: 25px;
    padding: 5px;
  }
  .services__pillar-item-text-title {
    font-size: 32px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #c9a721;
    font-family: Ubuntu, sans-serif;
    position: relative;
  }
  .services__pillar-item-text-title-info {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url(../../../img/information.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .services__pillar-item-text-title-info:hover .services__pillar-item-text-title-info-text-wrap_1 {
    height: 180px;
  }
  .services__pillar-item-text-title-info:hover .services__pillar-item-text-title-info-text-wrap_2 {
    height: 150px;
  }
  .services__pillar-item-text-title-info:hover .services__pillar-item-text-title-info-text-wrap_3 {
    height: 150px;
  }
  .services__pillar-item-text-title-info-text {
    color: #121212;
    font-size: 16px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
  }
  .services__pillar-item-text-title-info-text-wrap {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 54px;
    width: 350px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 0px;
    background-color: #f4f3f3;
    border: 2px solid #c9a721;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .services__pillar-item-text-title-info-text-wrap_1 {
    top: 91px;
  }
  .services__pillar-item-text-title-info-text-wrap_2 {
    top: 91px;
  }
  .services__pillar-item-text-title-info-text-wrap_3 {
    top: 91px;
  }
  .services__pillar-item-text-wrap {
    width: 550px;
    height: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f4f3f3;
    padding: 100px 100px;
    position: absolute;
    top: 60px;
    left: 500px;
    z-index: 3;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 3px;
    -webkit-box-shadow: 1px 10px 37px -2px #21210a;
            box-shadow: 1px 10px 37px -2px #21210a;
  }
  .services__pillar-item-text-wrap_1 {
    top: 220px;
    left: 400px;
    z-index: 2;
  }
  .services__pillar-item-text-wrap_2 {
    top: 220px;
    left: 400px;
    z-index: 3;
  }
  .services__pillar-item-text-wrap_3 {
    top: 200px;
    left: 250px;
    z-index: 3;
  }
  .services__pillar-item-foto {
    width: 750px;
    height: 500px;
    position: absolute;
    right: 100px;
    top: 0px;
    background-color: aqua;
    background-size: 150%;
    background-position-x: -100px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    z-index: 2;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-box-shadow: 0 5px 39px 7px #21210a;
            box-shadow: 0 5px 39px 7px #21210a;
    border-radius: 3px;
  }
  .services__pillar-item-foto_1 {
    top: 180px;
    z-index: 3;
    background-image: url(../../../img/1_s.jpeg);
  }
  .services__pillar-item-foto_2 {
    top: 180px;
    z-index: 2;
    background-image: url(../../../img/2_s.jpg);
  }
  .services__pillar-item-foto_3 {
    top: 180px;
    z-index: 2;
    right: 300px;
    background-image: url(../../../img/3_s.png);
  }
  .services__pillar-bg_animate {
    -webkit-transform: translateY(100px) translateX(-280px);
            transform: translateY(100px) translateX(-280px);
  }
  @-webkit-keyframes move_bg {
    0% {
      background-position-x: -100px;
      background-position-y: 0px;
    }
    50% {
      background-position-x: 0;
      background-position-y: -100px;
    }
    100% {
      background-position-x: -100px;
      background-position-y: 0px;
    }
  }
  @keyframes move_bg {
    0% {
      background-position-x: -100px;
      background-position-y: 0px;
    }
    50% {
      background-position-x: 0;
      background-position-y: -100px;
    }
    100% {
      background-position-x: -100px;
      background-position-y: 0px;
    }
  }
  @-webkit-keyframes move_bg_left {
    0% {
      background-position-x: -100px;
      background-position-y: 0px;
    }
    50% {
      background-position-x: -200px;
      background-position-y: -100px;
    }
    100% {
      background-position-x: -100px;
      background-position-y: 0px;
    }
  }
  @keyframes move_bg_left {
    0% {
      background-position-x: -100px;
      background-position-y: 0px;
    }
    50% {
      background-position-x: -200px;
      background-position-y: -100px;
    }
    100% {
      background-position-x: -100px;
      background-position-y: 0px;
    }
  }
}
/*# sourceMappingURL=services.css.map */