@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slick-dots {
    bottom: 75px !important;
  }
  .slick-active > .main-view__slider-pagin-item {
    background-color: #c9a721;
  }
  .slick-slide {
    margin-left: 5px;
    margin-right: 5px;
  }
  .main-view__wrap {
    width: 100%;
    height: calc(100vh - 120px);
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
  }
  .main-view__slider-pagin-item {
    width: 10px;
    height: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #c9a721;
    display: inline-block;
  }
  .main-view__slider-wrap {
    width: 100%;
    height: 100%;
  }
  .main-view__slider-item {
    width: 100%;
    height: calc(100vh - 150px);
  }
  .main-view__slider-item-photo {
    width: 100%;
    height: calc(100% - 100px);
    background-color: burlywood;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-view__slider-item-title {
    width: 100%;
    height: 70px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
  }
  .main-view__link {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    height: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #c9a721;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    background-color: #121212;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
  }
  .main-view__link:visited {
    color: #c9a721;
  }
  .main-view__link_top {
    bottom: 0;
  }
}
/*# sourceMappingURL=mian-view.css.map */