// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
    
    .slick-dots {
        bottom: 105px !important;
    }

    .slick-active > .main-view__slider-pagin-item{
        background-color: #c9a721; 
    }

    .slick-slide {
        margin-left: 5px;
        margin-right: 5px;
    }

    .main-view {

        &__wrap {
            width: 100%;
            height: calc(100vh - 120px);

            position: relative;

            overflow: hidden;
            padding-bottom: 60px;
        }

        &__slider {

            &-pagin-item {
                width: 10px;
                height: 10px;
                box-sizing: border-box;

                border-radius: 50%;
                border: 2px solid #c9a721;

                display: inline-block;
            }

            &-wrap {
                width: 100%;
                height: 100%;
            }

            &-item {
                width: 100%;
                height: calc(100vh - 150px);

                &-photo {
                    width: 100%;
                    height: calc(100% - 100px);
                    background-color: burlywood;

                    border-top-right-radius: 18px;
                    border-top-left-radius: 18px;

                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                &-title {
                    width: 100%;
                    height: 70px;
                    box-sizing: border-box;
                    font-size: 20px;

                    padding: 20px;
                }
            }
        }

        &__link {
            position: absolute;
            left: 0;
            bottom: -60px;

            width: 100%;
            height: 60px;
            box-sizing: border-box;

            color: #c9a721;
            font-size: 26px;
            text-decoration: none;
            text-align: center;

            padding: 12px;

            background-color: #121212;

            transition: all 0.5s ease;

            border-bottom-right-radius: 18px;
            border-bottom-left-radius: 18px;

            &:visited {
                color: #c9a721;
            }

            &_top {
                bottom: 0;
            }
        }
    }
}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {} 