@media only screen and (min-width: 1024px) {
  .main-window {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .main-window__slider {
    height: 100%;
    font-size: 0;
    position: relative;
  }
  .main-window__slider-item {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(100% - 200px);
    display: none;
    background-position: center;
    background-position-y: top;
    background-size: cover;
    -webkit-transform: scale(1);
            transform: scale(1);
    background-repeat: no-repeat;
    z-index: -1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .main-window__slider-item-noevents {
    pointer-events: none;
  }
  .main-window__slider-item_main {
    z-index: 3;
    left: 0;
    display: inline-block;
    -webkit-filter: saturate(50%);
            filter: saturate(50%);
  }
  .main-window__slider-item_main:hover {
    -webkit-box-shadow: 0px 0 50px 6px rgba(18, 18, 18, 0.3);
            box-shadow: 0px 0 50px 6px rgba(18, 18, 18, 0.3);
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
  }
  .main-window__slider-item_main-left {
    -webkit-animation: left_slider 1s ease;
            animation: left_slider 1s ease;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .main-window__slider-item_main-right {
    -webkit-animation: main_right_slider 1s ease;
            animation: main_right_slider 1s ease;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
  }
  .main-window__slider-item_main-hover {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    -webkit-filter: saturate(30%);
            filter: saturate(30%);
  }
  .main-window__slider-item_next {
    -webkit-transform: scale(1.05) translateX(200px);
            transform: scale(1.05) translateX(200px);
    z-index: 2;
    display: inline-block;
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
    cursor: pointer;
  }
  .main-window__slider-item_next:hover {
    -webkit-transform: scale(1) translateX(200px);
            transform: scale(1) translateX(200px);
    -webkit-filter: saturate(100%);
            filter: saturate(100%);
  }
  .main-window__slider-item_next-left {
    -webkit-animation: next_left_slider 1s ease;
            animation: next_left_slider 1s ease;
    -webkit-transform: scale(1) translateX(-200px);
            transform: scale(1) translateX(-200px);
  }
  .main-window__slider-item_next2 {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    z-index: 1;
    display: inline-block;
    -webkit-filter: saturate(0%);
            filter: saturate(0%);
    cursor: pointer;
  }
  .main-window__slider-item_prev {
    display: inline-block;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 4;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .main-window__slider-item_prev-back {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main-window__slider-prevbtn {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    width: 150px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;
    text-align: left;
    line-height: 40px;
    font-weight: 200;
    color: #f4f3f3;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(18, 18, 18, 0.8);
    border-radius: 2px;
    left: -40px;
    top: calc(50% - 50px);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 5;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .main-window__slider-prevbtn:hover::after {
    background-size: 30px;
  }
  .main-window__slider-prevbtn::after {
    content: '';
    position: absolute;
    right: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-image: url(../../../img/next.svg);
  }
  .main-window__slider-nextbtn {
    font-family: 'Oswald', sans-serif;
    position: absolute;
    width: 150px;
    height: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 70px;
    text-align: left;
    line-height: 40px;
    font-weight: 200;
    color: #f4f3f3;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(18, 18, 18, 0.8);
    border-radius: 2px;
    right: 30px;
    bottom: 10px;
    z-index: 5;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .main-window__slider-nextbtn::after {
    content: '';
    position: absolute;
    left: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-image: url(../../../img/next.svg);
  }
  .main-window__title {
    font-family: Oswald, sans-serif;
    font-size: 100px;
    font-weight: 300;
    color: #f4f3f3;
    text-align: right;
    display: inline-block;
    width: 450px;
    height: 120px;
  }
  .main-window__title-wrap {
    border-radius: 40px;
    background: rgba(12, 12, 12, 0.15);
    -webkit-box-shadow: 0px 0px 30px 32px rgba(12, 12, 12, 0.15);
            box-shadow: 0px 0px 30px 32px rgba(12, 12, 12, 0.15);
    position: absolute;
    width: 50%;
    height: 230px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    padding-right: 320px;
    bottom: 50px;
    left: 20%;
    font-size: 20px;
    z-index: 5;
  }
  .main-window__subtitle {
    display: inline-block;
    font-family: Oswald, sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #f4f3f3;
    width: 450px;
    text-align: right;
    color: #c9a721;
  }
  .main-window__scroll {
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url(../../../img/mouse.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    z-index: 6;
    bottom: 10px;
    left: calc(50% - 10px);
  }
  .main-window__slider-info {
    font-family: Oswald, sans-serif;
    color: #f4f3f3;
    font-size: 40px;
    font-weight: 200;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 130px;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
  }
  .main-window__slider-info-text {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
  }
  .main-window__slider-info-text-cursor {
    display: inline-block;
    font-size: 45px;
    font-weight: 200;
    -webkit-animation: move .7s infinite linear;
            animation: move .7s infinite linear;
  }
  .main-window__slider-info-text-cursor_fade {
    display: none;
  }
  .main-window__slider-info-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    height: 40px;
    padding-left: 10px;
    font-size: 25px;
    color: #f4f3f3;
    text-decoration: none;
    border-left: 1px solid #c9a721;
    border-radius: 3px;
    z-index: 1;
  }
  .main-window__slider-info-link:visited {
    color: #f4f3f3;
  }
  .main-window__slider-info-link:after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: #c9a721;
    z-index: -1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 108px;
    background-position-y: 11px;
    border-radius: 3px;
    background-image: url(../../../img/next.svg);
  }
  .main-window__slider-info:hover .main-window__slider-info-link::after {
    width: 150%;
  }
  @-webkit-keyframes move {
    0% {
      color: transparent;
    }
    50% {
      color: white;
    }
    100% {
      color: transparent;
    }
  }
  @keyframes move {
    0% {
      color: transparent;
    }
    50% {
      color: white;
    }
    100% {
      color: transparent;
    }
  }
  @-webkit-keyframes left_slider {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes left_slider {
    0% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @-webkit-keyframes next_left_slider {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes next_left_slider {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @-webkit-keyframes main_right_slider {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-filter: saturate(100%);
              filter: saturate(100%);
    }
    100% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
      -webkit-filter: saturate(0%);
              filter: saturate(0%);
    }
  }
  @keyframes main_right_slider {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
      -webkit-filter: saturate(100%);
              filter: saturate(100%);
    }
    100% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
      -webkit-filter: saturate(0%);
              filter: saturate(0%);
    }
  }
}
/*# sourceMappingURL=main-window.css.map */