@media only screen and (min-width: 320px) and (max-width: 768px) {
  .about__wrap {
    margin: 80px 30px; }
  .about__title {
    font-family: Ubuntu, sans-serif;
    font-size: 39px;
    margin-bottom: 40px; }
  .about__text {
    font-size: 18px;
    color: #121212; }
  .about__img {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .about__img-slider {
      overflow-x: scroll;
      position: relative;
      height: 350px; }
      .about__img-slider-wrap {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        height: 350px;
        z-index: 1; }
        .about__img-slider-wrap-wrap {
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          height: 350px; }
    .about__img-wrap {
      margin: 30px 0;
      height: 280px; }
      .about__img-wrap_big {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: auto;
        margin: 30px auto; }
    .about__img_small {
      width: 300px;
      height: 300px;
      margin: 10px;
      display: inline-block; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contact-form {
    width: 300px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px;
    position: absolute;
    left: calc(50% - 150px);
    top: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background-color: #f4f3f3;
    border-radius: 20px; }
    .contact-form_open {
      top: calc(50% - 200px); }
    .contact-form__title {
      text-align: center;
      font-size: 25px;
      color: #c9a721;
      margin-bottom: 20px; }
    .contact-form__esc {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      background-image: url(../../../../img/cancel.svg); }
    .contact-form__wrap {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(18, 18, 18, 0.5);
      display: none;
      z-index: 2; }
      .contact-form__wrap_open {
        display: block; }
    .contact-form__input {
      width: 100%;
      height: 50px;
      background-color: transparent;
      border: 2px solid #c9a721;
      border-radius: 3px;
      padding-left: 20px;
      margin-bottom: 10px; }
      .contact-form__input_error {
        border: 2px solid #ee412a; }
    .contact-form__btn {
      width: 100%;
      height: 40px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #c9a721;
      border-radius: 3px;
      text-align: center;
      padding-top: 10px;
      margin-top: 20px;
      color: #f4f3f3; }
    .contact-form__text {
      overflow: hidden;
      text-align: center;
      height: 0;
      padding-top: 20px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .contact-form__text_activate {
        height: 77px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .content__wrap {
    margin-top: 50px;
    margin-bottom: 60px;
    height: auto;
    width: 100%;
    padding: 20px;
    background-color: #f4f3f3;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative; }
    .content__wrap_open-menu {
      -webkit-transform: translateY(180px);
      transform: translateY(180px); } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
    .footer__slider-wrap {
      overflow: hidden;
      height: 61px;
      -webkit-overflow-scrolling: touch; }
      .footer__slider-wrap-wrap {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-overflow-scrolling: touch; }
    .footer__item {
      display: inline-block;
      width: auto;
      padding: 20px;
      padding-left: 40px;
      font-size: 18px;
      color: #f4f3f3; }
      .footer__item:visited {
        color: #f4f3f3; }
    .footer__contacts {
      background-image: url(../../../../img/phone.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-x: 10px;
      background-position-y: 19px; }
    .footer__form-contacts {
      background-image: url(../../../../img/arroba-symbol.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-x: 10px;
      background-position-y: 19px; }
    .footer__instagram {
      background-image: url(../../../../img/instagram.svg);
      background-repeat: no-repeat;
      background-size: 25px;
      background-position-x: 10px;
      background-position-y: 19px; }
    .footer__wrap {
      font-size: 0px;
      width: 100%;
      height: 70px;
      background-color: #121212;
      position: fixed;
      bottom: -90px;
      left: 0;
      z-index: 10;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .footer__wrap_top {
        bottom: 0; }
      .footer__wrap::after {
        content: '';
        position: absolute;
        left: 0;
        top: -20px;
        width: 20px;
        height: 20px;
        background-color: #121212;
        background-image: url(../../../../img/circul.svg);
        background-size: 40px;
        background-position-x: 0px;
        background-position-y: 20px; }
      .footer__wrap::before {
        content: '';
        position: absolute;
        right: 0;
        top: -20px;
        width: 20px;
        height: 20px;
        background-color: #121212;
        background-image: url(../../../../img/circul.svg);
        background-size: 40px;
        background-position-x: 20px;
        background-position-y: 20px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  html {
    margin: 0;
    padding: 0;
    background-color: #f4f3f3; }
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body {
    background-color: #f4f3f3;
    font-family: Ubuntu,sans-serif; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header__top {
    width: 100%;
    height: 50px;
    position: relative; }
    .header__top-menu-btn {
      position: absolute;
      right: 15px;
      top: 5px;
      width: 30px;
      height: 30px; }
      .header__top-menu-btn-wrap {
        position: absolute;
        right: 5px;
        top: 10px;
        width: 50px;
        height: 45px; }
      .header__top-menu-btn-item {
        width: 100%;
        height: 2px;
        margin-bottom: 8px;
        background-color: #f4f3f3;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
        .header__top-menu-btn-item__1 {
          transform: translateY(10px) rotate(45deg);
          -moz-transform: translateY(10px) rotate(45deg);
          -webkit-transform: translateY(10px) rotate(45deg);
          -ms-transform: translateY(10px) rotate(45deg); }
        .header__top-menu-btn-item__2 {
          opacity: 0; }
        .header__top-menu-btn-item__3 {
          transform: translateY(-10px) rotate(-45deg);
          -moz-transform: translateY(-10px) rotate(-45deg);
          -webkit-transform: translateY(-10px) rotate(-45deg);
          -ms-transform: translateY(-10px) rotate(-45deg); }
    .header__top-text {
      position: absolute;
      width: calc(100% - 120px);
      left: 60px;
      top: 10px;
      color: #c9a721;
      font-size: 26px;
      font-family: Ubuntu, sans-serif;
      text-align: center; }
    .header__top-logo {
      position: absolute;
      top: 5px;
      left: 20px;
      height: 40px;
      width: 40px;
      background-image: url(../../../../img/logo_mobile.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px; }
  .header__menu {
    width: 100%;
    height: 0px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 20px;
    color: #f4f3f3;
    overflow: hidden; }
    .header__menu_open {
      height: 160px; }
    .header__menu-item {
      padding: 10px;
      text-align: center;
      color: #f4f3f3;
      display: inherit;
      text-decoration: none; }
      .header__menu-item:visited {
        color: #f4f3f3; }
  .header__wrap {
    width: 100%;
    height: auto;
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; }
    .header__wrap::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      width: 20px;
      height: 20px;
      background-color: #121212;
      background-image: url(../../../../img/circul.svg);
      background-size: 40px;
      background-position-x: 0px;
      background-position-y: 0px; }
    .header__wrap::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: -20px;
      width: 20px;
      height: 20px;
      background-color: #121212;
      background-image: url(../../../../img/circul.svg);
      background-size: 40px;
      background-position-x: 20px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .info {
    overflow-x: scroll;
    position: relative;
    height: 120px;
    -webkit-transform: translateY(6px);
    transform: translateY(6px); }
    .info__slider-wrap {
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      height: 120px;
      margin-left: -20px;
      width: calc(100% + 40px);
      left: 0;
      top: calc(50% - 40px);
      position: absolute;
      z-index: 1; }
      .info__slider-wrap-wrap {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: 120px; }
    .info__item {
      width: 690px;
      height: 120px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      overflow: hidden; }
      .info__item-text {
        position: absolute;
        left: 0;
        top: 0;
        font-family: 'Saira Stencil One', cursive;
        color: #f4f3f3;
        font-size: 190px;
        line-height: 100px; }
    .info__wrap {
      width: 100%;
      margin-top: 50px; }
    .info__title {
      font-size: 50px;
      margin: 5px 50px 30px 5px;
      padding-left: 20px;
      text-align: left;
      border-top: 7px solid #c9a721;
      position: relative; }
      .info__title::after {
        content: '';
        position: absolute;
        height: calc(100% + 20px);
        width: 50%;
        left: -5px;
        bottom: -20px;
        border-bottom: 7px solid #c9a721;
        border-left: 7px solid #c9a721;
        border-bottom-left-radius: 25px; }
    .info__content {
      width: 100%;
      height: 600px;
      position: relative; }
      .info__content-cell {
        width: 0px;
        height: 1px;
        position: fixed;
        top: 50%; }
      .info__content__bg {
        display: inline-block;
        width: 10px;
        height: 20%;
        background-size: 0; }
        .info__content__bg_wrap {
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          top: 0; }
    .info__block-count {
      width: 100%;
      text-align: center;
      font-size: 40px;
      color: #121212;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .info__block-count_activate {
        text-shadow: 3px 3px 0 #c9a721; }
    .info__block-text {
      width: 100%;
      text-align: center;
      height: 10px; }
    .info__block-wrap {
      position: absolute;
      background-color: #f4f3f3;
      border: 1px solid #121212;
      border-radius: 1px;
      padding: 20px; }
      .info__block-wrap_1 {
        left: 15px;
        top: 15px;
        padding: 40px 15px 10px 10px; }
      .info__block-wrap_2 {
        left: 141px;
        top: 36px;
        padding: 40px 10px 15px 40px; }
      .info__block-wrap_3 {
        left: 20px;
        top: 150px;
        padding: 30px 20px 15px 10px; }
      .info__block-wrap_4 {
        left: 144px;
        top: 386px;
        padding: 20px 20px 15px 10px; }
      .info__block-wrap_5 {
        left: 30px;
        top: 480px;
        padding: 20px 30px 15px 10px; }
      .info__block-wrap_6 {
        left: 190px;
        top: 495px;
        padding: 15px 15px 15px 20px; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .mainfooter {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #121212; }
    .mainfooter__wrap {
      width: 100%;
      height: auto;
      background-color: #f4f3f3; }
    .mainfooter__right {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px; }
    .mainfooter__mail {
      color: #121212;
      margin-top: 10px;
      display: inline-block; }
      .mainfooter__mail:visited {
        color: #121212; }
    .mainfooter__social-wrap {
      width: 100%;
      height: 100px;
      text-align: center; }
    .mainfooter__social-item {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px; }
    .mainfooter__createby {
      color: #121212; }
      .mainfooter__createby-wrap {
        width: 100%;
        height: 100px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 50px;
        text-align: center; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slick-dots {
    bottom: 105px !important; }
  .slick-active > .main-view__slider-pagin-item {
    background-color: #c9a721; }
  .slick-slide {
    margin-left: 5px;
    margin-right: 5px; }
  .main-view__wrap {
    width: 100%;
    height: calc(100vh - 120px);
    position: relative;
    overflow: hidden;
    padding-bottom: 60px; }
  .main-view__slider-pagin-item {
    width: 10px;
    height: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #c9a721;
    display: inline-block; }
  .main-view__slider-wrap {
    width: 100%;
    height: 100%; }
  .main-view__slider-item {
    width: 100%;
    height: calc(100vh - 150px); }
    .main-view__slider-item-photo {
      width: 100%;
      height: calc(100% - 100px);
      background-color: burlywood;
      border-top-right-radius: 18px;
      border-top-left-radius: 18px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .main-view__slider-item-title {
      width: 100%;
      height: 70px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 20px;
      padding: 20px; }
  .main-view__link {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    height: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #c9a721;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    padding: 12px;
    background-color: #121212;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px; }
    .main-view__link:visited {
      color: #c9a721; }
    .main-view__link_top {
      bottom: 0; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .portfolio__wrap .slick-next,
  .portfolio__wrap .slick-prev {
    width: 40px !important;
    height: 40px !important;
    background-color: #f4f3f3 !important;
    z-index: 1;
    border-radius: 50%;
    background-image: url("../../../../img/arr.svg") !important;
    background-position: center !important;
    background-position-x: 12px !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important; }
    .portfolio__wrap .slick-next::before,
    .portfolio__wrap .slick-prev::before {
      content: '' !important;
      font-size: 40px !important;
      color: #c9a721 !important;
      position: absolute !important;
      left: 0 !important;
      top: -5px !important; }
  .portfolio__wrap .slick-next {
    right: -20px !important; }
  .portfolio__wrap .slick-prev {
    left: -20px !important;
    background-position-x: 7px !important;
    background-image: url("../../../../img/arr_left.svg") !important; }
  .portfolio {
    margin-bottom: 50px;
    border-bottom: 1px solid #121212;
    padding-bottom: 40px; }
    .portfolio__ankor {
      position: absolute;
      top: -100px; }
    .portfolio__wrap {
      margin-top: 50px;
      padding: 0px 20px;
      height: auto; }
    .portfolio__slider {
      height: 100%; }
      .portfolio__slider__wrap {
        margin: 10px 0px;
        width: 100%;
        height: 300px;
        position: relative; }
      .portfolio__slider__item {
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
      .portfolio__slider__title {
        margin-bottom: 10px;
        font-size: 30px;
        color: #121212;
        font-weight: bold; }
    .portfolio__subtitle {
      margin-bottom: 20px; }
    .portfolio__style {
      text-align: right; }
    .portfolio__title {
      font-size: 50px;
      text-align: left;
      margin-top: 80px;
      margin-bottom: 50px;
      position: relative;
      color: #121212; } }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .services {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    position: relative; }
    .services__title {
      font-size: 50px;
      margin: 5px;
      margin-left: 50px;
      padding-right: 20px;
      text-align: right;
      border-top: 7px solid #c9a721;
      position: relative;
      margin-bottom: 30px; }
      .services__title::after {
        content: '';
        position: absolute;
        height: calc(100% + 20px);
        width: 50%;
        right: -5px;
        bottom: -20px;
        border-bottom: 7px solid #c9a721;
        border-right: 7px solid #c9a721;
        border-bottom-right-radius: 25px; }
    .services__slider-wrap {
      overflow: hidden;
      -webkit-overflow-scrolling: touch; }
      .services__slider-wrap-wrap {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-overflow-scrolling: touch; }
    .services__item {
      display: inline-block;
      width: calc(100vw - 85px);
      height: calc(100vh - 200px);
      font-size: 18px;
      color: #f4f3f3;
      margin: 0 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .services__item_last {
        margin-right: 30px; }
      .services__item__wrap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative; }
      .services__item-title-wrap {
        width: calc(100% - 40px);
        margin: 0 10px;
        position: absolute;
        bottom: 144px;
        left: 40px;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.3); }
        .services__item-title-wrap::after {
          content: '';
          position: absolute;
          left: -50px;
          top: -146px;
          border: 35px solid transparent;
          border-bottom: 35px solid #f4f3f3;
          border-left: 35px solid #f4f3f3; }
        .services__item-title-wrap::before {
          content: '';
          position: absolute;
          left: -50px;
          bottom: -70px;
          border: 35px solid transparent;
          border-left: 35px solid #f4f3f3;
          border-top: 35px solid #f4f3f3; }
        .services__item-title-wrap-info-btn {
          position: absolute;
          left: 10px;
          top: 25px;
          width: 40px;
          height: 40px;
          background-image: url(../../../../img/information.svg);
          background-position: center;
          background-size: 40px;
          background-repeat: no-repeat; }
      .services__item__photo1 {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; }
      .services__item-title {
        position: absolute;
        bottom: 150px;
        left: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 38px;
        font-size: 23px;
        font-weight: normal;
        color: #121212;
        padding-left: 60px;
        text-align: right;
        background-color: #f4f3f3;
        z-index: 2; }
        .services__item-title-info {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0px;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
          font-size: 17px;
          padding: 0px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-indent: 20px;
          padding-left: 30px;
          padding-right: 10px; }
          .services__item-title-info::before {
            content: '';
            position: absolute;
            left: -50px;
            bottom: -70px;
            border: 35px solid transparent;
            border-left: 35px solid #f4f3f3;
            border-top: 35px solid #f4f3f3; }
          .services__item-title-info_open {
            height: 150px;
            padding: 20px 10px 20px 30px; }
          .services__item-title-info_bg {
            background-color: rgba(18, 18, 18, 0.85); }
          .services__item-title-info-btn {
            position: absolute;
            left: 0;
            top: 20px;
            width: 40px;
            height: 40px;
            background-image: url(../../../../img/information.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40px; }
    .services__wrap {
      font-size: 0px;
      width: 100%;
      margin-top: 50px;
      z-index: 0;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      position: relative; } }

