@media only screen and (min-width: 320px) and (max-width: 768px) {
  .about__wrap {
    margin: 80px 30px; }
  .about__title {
    font-family: Ubuntu, sans-serif;
    font-size: 39px;
    margin-bottom: 40px; }
  .about__text {
    font-size: 18px;
    color: #121212; }
  .about__img {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .about__img-slider {
      overflow-x: scroll;
      position: relative;
      height: 350px; }
      .about__img-slider-wrap {
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        height: 350px;
        z-index: 1; }
        .about__img-slider-wrap-wrap {
          width: max-content;
          height: 350px; }
    .about__img-wrap {
      margin: 30px 0;
      height: 280px; }
      .about__img-wrap_big {
        width: max-content;
        height: auto;
        margin: 30px auto; }
    .about__img_small {
      width: 300px;
      height: 300px;
      margin: 10px;
      display: inline-block; } }
