@media only screen and (min-width: 1024px) {
  .tnh-popup {
    position: absolute;
    width: 500px;
    height: 300px;
    left: calc(50% - 250px);
    top: calc(50% - 200px);
    background-color: #f4f3f3;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    padding: 100px 50px; }
    .tnh-popup__esc {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background-image: url(../../../img/cancel.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px; }
    .tnh-popup__wrap {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      background-color: rgba(18, 18, 18, 0.5);
      z-index: 10; }
      .tnh-popup__wrap_close {
        display: none; }
    .tnh-popup__text {
      text-align: center;
      font-size: 30px; } }
