<div class="footer__wrap">
        <div class="footer__slider-wrap">
            <div class="footer">
                <div class="footer__slider-wrap-wrap">
                    <a href="tel:89180555202" class="footer__item footer__contacts">8-918-670-71-73</a>
                    <a href="mailto:info@aristovdesign.ru"
                        class="footer__item footer__form-contacts">info@aristovdesign.ru</a>
                    <a href="{{instagram}}" class="footer__item footer__instagram"
                        target="__blank">aristovdesign</a>
                </div>
            </div>
        </div>
    </div>