<div class="contact-form__wrap">
    <div class="contact-form">
        <div class="contact-form__esc"></div>
        <div class="contact-form__title">Оставить заявку</div>
        <input class="contact-form__input contact-form__input-name" placeholder="Имя"></input>
        <input class="contact-form__input contact-form__input-phone" placeholder="Телефон"></input>
        <input class="contact-form__input contact-form__input-email" placeholder="Почта(Не обязательно)"></input>
        <div class="contact-form__btn contact-form__btn-submit ">Отправить</div>
        <div class="contact-form__text">Заявка отправлена! <br> Мы свяжемся с вами в ближайшее время</div>
    </div>
</div>




<script>
    $('.contact-form__btn-submit').click(function () {
        var name = $('.contact-form__input-name').val();
        var email = $('.contact-form__input-email').val();
        var phone = $('.contact-form__input-phone').val();

        let phone_ver = isPhone(phone);
        let name_ver = isName(name);
        let email_ver = isEmail(email);

        if (!phone_ver) {
            $('.contact-form__input-phone').addClass('contact-form__input_error');
        }
        if (!name_ver) {
            $('.contact-form__input-name').addClass('contact-form__input_error');
        }

        if (phone_ver && name_ver) {
            if (name && (email || phone)) {
                $.ajax({
                    'type': 'POST',
                    'url': '/send_offer',
                    'data': {
                        'name': name,
                        'email': email,
                        'phone': phone,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        $('.contact-form__input-name').removeClass('contact-form__input_error').val('');
                        $('.contact-form__input-phone').removeClass('contact-form__input_error').val('');
                        ym(55984267, 'reachGoal', 'BUTTON');
                        $('.contact-form__text').addClass('contact-form__text_activate');
                        setTimeout(function () {
                            $('.contact-form__wrap').removeClass('contact-form__wrap_open');
                            $('.contact-form__text').removeClass('contact-form__text_activate');
                        }, 4000)
                    },
                    error: function (data) {
                        alert('Заявка отправлена!')
                    }
                })
            }
        }
    });

    $('.contact-form__input-phone').focusout(function () {
        if (isPhone($(this).val())) {
            ym(55984267, 'reachGoal', 'FORM');
        }
    })


    function isPhone(str) {
        if (str.length !== 11 || str.match(/[a-zA-Z]|[а-яА-Я]/g)) {
            $('.contact-form__input-phone').addClass('contacts__input_error');
            return false;
        } else {
            $('.contact-form__input-phone').removeClass('contacts__input_error');
            return true;
        }
    }

    function isName(str) {
        if (str.length < 3 || str.match(/[0-9]/)) {
            $('.contact-form__input-name').addClass('contacts__input_error');
            return false;
        } else {
            $('.contact-form__input-name').removeClass('contacts__input_error');
            return true;
        }
    }

    function isEmail(str) {
        if (str.match(/[\.]/g) && str.match(/[@]/g)) {
            $('.contact-form__input-email').removeClass('contacts__input_error');
            return true;
        } else {
            $('.contact-form__input-email').addClass('contacts__input_error');
            return false;
        }
    }
</script>
