{% load static %}

<div class="content">
    <div class="main-view__wrap">
        <div class="main-view__slider-wrap">
             <div class="main-view__slider-wrap">
                 {% for work in works %}
                     <div class="main-view__slider-item">
                         <div data-href='#_{{ work.id }}' class="main-view__slider-item-photo"
                              style="background-image: url({% if work.photo_mobile %} {{work.photo_mobile.url}} {% else %} {{ work.photo.url}} {% endif %});"></div>
                         <div class="main-view__slider-item-title">{{ work.title }}</div>
                     </div>
                 {% endfor %}
             </div>
        </div>
        <a href="/" class="main-view__link main-view__link_top">Перейти к проекту</a>
    </div>
</div>