<div class="header__wrap">
    <div class="header__top">

        {% if page == 'main' %}
        <div class="header__top-logo"></div>
        {% else %}
        <a href="/" class="header__top-logo"></a>
        {% endif %}

        <div class="header__top-text">AristovDesign</div>
        <div class="header__top-menu-btn-wrap">
            <div class="header__top-menu-btn">
                <div class="header__top-menu-btn-item header__top-menu-btn-item_1"></div>
                <div class="header__top-menu-btn-item header__top-menu-btn-item_2"></div>
                <div class="header__top-menu-btn-item header__top-menu-btn-item_3"></div>
            </div>
        </div>
    </div>
    <div class="header__menu">
        {% if page == 'portfolio' %}
        <div class="header__menu-item header__menu-item_portfolio">Работы</div>
        {% else %}
        <a href="{% url 'portfolio' %}" class="header__menu-item header__menu-item_portfolio">Работы</a>
        {% endif %}
        <div class="header__menu-item header__menu-item_contacts">Контакты</div>
        <div class="header__menu-item header__menu-item_form">Связаться</div>
        <a href="{% url 'about' %}" class="header__menu-item header__menu-item_3d">3D визуализация</a>
    </div>
</div>