{% load static %}

<div class="info__wrap">
    <h2 class="info__title">
        О нас
    </h2>
    <div class="info__content">
        <span class="info__content-cell"></span>
        <div class="info__slider-wrap">
            <div class="info">
                <div class="info__slider-wrap-wrap">
                    <div class="info__item">
                        <div class="info__item-text">
                            DESIGN
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info__content__bg_wrap">
            <div style="background-image: url({% static 'img/works/1.jpg' %});" class="info__content__bg">
            </div><br>
            <div style="background-image: url({% static 'img/works/2.jpg' %});" class="info__content__bg">
            </div><br>
            <div style="background-image: url({% static 'img/works/3.jpg' %});" class="info__content__bg">
            </div><br>
            <div style="background-image: url({% static 'img/works/4.jpg' %});" class="info__content__bg">
            </div><br>
            <div style="background-image: url({% static 'img/works/5.jpg' %});" class="info__content__bg">
            </div><br>
        </div>
        <div class="info__block-wrap info__block-wrap_1">
            <div data-count="25" class="info__block-count">25</div>
            <div class="info__block-text">Проектов</div>
        </div>
        <div class="info__block-wrap info__block-wrap_2">
            <div data-count="172" class="info__block-count">172</div>
            <div class="info__block-text">Помещения</div>
        </div>
        <div class="info__block-wrap info__block-wrap_3">
            <div data-count="1202" class="info__block-count">1202</div>
            <div class="info__block-text">Мебели</div>
        </div>
        <div class="info__block-wrap info__block-wrap_4">
            <div data-count="12" class="info__block-count">12</div>
            <div class="info__block-text">Городов</div>
        </div>
        <div class="info__block-wrap info__block-wrap_5">
            <div data-count="18" class="info__block-count">18</div>
            <div class="info__block-text">Клиентов</div>
        </div>
        <div class="info__block-wrap info__block-wrap_6">
            <div data-count="4613" class="info__block-count">4613</div>
            <div class="info__block-text">М²</div>
        </div>
    </div>
</div>