{% load static %}

<div class="mainfooter__wrap">
    <div class="mainfooter">
        <div class="mainfooter__right">© 2019 AristovDesign.
            <br>
            <a href="mailo:info@aristovdesign.ru" class="mainfooter__mail">info@aristovdesign.ru</a>
        </div>
        <div class="mainfooter__social-wrap">
            <a href="https://www.facebook.com/ArstvDsgn?ref=bookmarks"
            target="__blank"
                style="background-image: url({% static 'img/facebook-logo.svg' %});"
                class="mainfooter__social-item"></a>
            <a href="https://www.instagram.com/aristovdesign/"
            target="__blank"
                style="background-image: url({% static 'img/instagram-logo.svg' %});"
                class="mainfooter__social-item"></a>
        </div>
        <div class="mainfooter__createby-wrap">
            <a href="https://blacklink.ru" target="__blank" class="mainfooter__createby">by blacklink</a>
        </div>
    </div>
</div>