{% load static %}

<div class="services__wrap">
    <h2 class="services__title">Услуги</h2>
    <div class="services__slider-wrap">
        <div class="services__item-title-wrap"></div>
        <div class="services">
            <div class="services__slider-wrap-wrap">
                <div class="services__item">
                    <div class="services__item__wrap">
                        <div class="services__item__photo1" style="background-image: url({% static 'img/1_s.jpeg' %});">
                            <div class="services__item-title-info">
                                • Дизайн проект с техническими чертежами и 3D визуализацей - от 700 р м² в
                                зависимости от особенностей помещения.
                            </div>
                        </div>
                        <h3 class="services__item-title">
                            Индивидуальный дизайн-проект
                            <div class="services__item-title-info-btn services__item-title-info-btn_1"></div>
                        </h3>
                    </div>
                </div>
                <div class="services__item">
                    <div class="services__item__wrap">
                        <div class="services__item__photo1 services__item__photo1_center"
                            style="background-image: url({% static 'img/2_s.jpg' %});">

                            <div class="services__item-title-info">
                                • Стоимость - от 300р м².
                                <br>
                                <br>
                                • Подготовим для Вас 3D визуализацию по имеющимуся дизайн-проекту.
                            </div>
                        </div>
                        <h3 class="services__item-title services__item-title_center">
                            3D визуализация интерьера
                            <div class="services__item-title-info-btn services__item-title-info-btn_2"></div>
                        </h3>
                    </div>
                </div>
                <div class="services__item services__item_last">
                    <div class="services__item__wrap">
                        <div class="services__item__photo1" style="background-image: url({% static 'img/3_s.png' %});">

                            <div class="services__item-title-info">
                                • Бесплатно, входит в стоимость при заказе дизайн-проекта.
                            </div>
                        </div>
                        <h3 class="services__item-title">
                            Индивидуальные чертежи в AutoCAD
                            <div class="services__item-title-info-btn services__item-title-info-btn_3"></div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>