// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {
    .tnh-popup {

        position: absolute;

        width: 500px;
        height: 300px;

        left: calc(50% - 250px);
        top: calc(50% - 200px);

        background-color: #f4f3f3;

        border-radius: 5px;
        position: relative;

        box-sizing: border-box;
        padding: 100px 50px;

        &__esc {
            position: absolute;
            right: 0;
            top: 0;

            width: 40px;
            height: 40px;

            background-image: url(../../../img/cancel.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30px;
        }

        &__wrap {
            position: fixed;
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;

            background-color: rgba(18,18,18,.5);

            z-index: 10;

            &_close {
                display: none;
            }
        }

        &__text {
            text-align: center;

            font-size: 30px;
        }
    }
}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
