@import url('https://fonts.googleapis.com/css?family=Raleway');
$facebook:#365899;
$instagram:#C32AA3;


@function Shadow($color,$number){
  $value:'0px 0px 0px #{$color}';
  @for $i from 1 through $number{
    $value:"#{$value},0px #{$i}px 2px "+darken($color,$i*5);
  }
  @return unquote($value);
}
.socialIcons{
  padding:0;
  margin:0;
  list-style-type:none;
  display:inline-block;
  margin:auto;
  height:100px;
  width: 200px;
  text-align:center;
  font-size: 0;
  li{
    display:inline-block;
    
    a{
      text-align:center;
      display:inline-block;
      font-size:3rem;
      height:100px;
      width:100px;
      line-height:100px;
      color:#c9a721;
      transition:all ease 0.5s;
      text-shadow:
        0px 0px 1px rgba(0,0,0,1),
        0px 0px 1px rgba(0,0,0,1);
      transform:rotateX(-30deg);
      &:hover{
        transform:rotateX(-30deg) translateY(-20px) ;
        &.facebook{
          color:$facebook;
          text-shadow:Shadow($facebook,5);
        }
        
        &.instagram{
          color:$instagram;
          text-shadow:Shadow($instagram,5);
        }
      }
    }
    
  }
}


.otherPens{
  position:absolute;
  color:#212121;
  font-weight:600;
  text-decoration:none;
  font-size:1.2rem;
}