@media only screen and (min-width: 1024px) {
  * {
    padding: 0;
    margin: 0;
  }
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  body {
    background-color: #121212;
  }
}
/*# sourceMappingURL=global.css.map */