// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {

    *{
        padding: 0;
        margin: 0;
    }

    html {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        background-color: #121212;
    }
}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
