@media only screen and (min-width: 1024px) {
  .contacts {
    width: 1200px;
    height: 900px;
    padding-top: 150px;
    padding-bottom: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    font-size: 0;
  }
  .contacts__ankor {
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: -100px;
  }
  .contacts__pillar {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: #c9a721;
    -webkit-box-shadow: inset 0 0 138px 9px #121212;
            box-shadow: inset 0 0 138px 9px #121212;
    position: relative;
  }
  .contacts__pillar_bottom {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 200px;
  }
  .contacts__pillar_bottom:after {
    display: none;
  }
  .contacts__pillar_bottom::before {
    display: none;
  }
  .contacts__pillar:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 51px solid transparent;
    border-top: 5px solid #121212;
    border-right: 451px solid #121212;
  }
  .contacts__pillar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 24px;
    width: 100%;
    height: 2px;
    -webkit-box-shadow: 0 0 58px 9px #121212;
    box-shadow: 0 0 58px 9px #121212;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  .contacts__pillar-wrap {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: -200px;
    overflow: hidden;
  }
  .contacts__pillar-wrap_bottom {
    bottom: -200px;
    top: auto;
  }
  .contacts__wrap {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url(../../../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    margin-top: 270px;
    margin-bottom: 200px;
  }
  .contacts__bg {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(18, 18, 18, 0.4);
    z-index: 2;
  }
  .contacts__title {
    font-size: 50px;
    text-align: center;
    color: #f4f3f3;
    font-family: Ubuntu, sans-serif;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f4f3f3;
  }
  .contacts__input {
    background-color: transparent;
    outline: none;
    width: 88%;
    height: 70px;
    border: 2px solid #f4f3f3;
    display: inline-block;
    margin: 6%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 50px;
    padding-left: 10px;
    font-family: Ubuntu, sans-serif;
    color: #ffcb00;
  }
  .contacts__input::-webkit-input-placeholder {
    color: #f4f3f3;
  }
  .contacts__input:-ms-input-placeholder {
    color: #f4f3f3;
  }
  .contacts__input::-ms-input-placeholder {
    color: #f4f3f3;
  }
  .contacts__input::placeholder {
    color: #f4f3f3;
  }
  .contacts__input_error {
    border: 2px solid #c52020;
  }
  .contacts__input_big {
    margin: 3%;
    width: 94%;
  }
  .contacts__input-wrap {
    display: inline-block;
    width: 50%;
    position: relative;
  }
  .contacts__input-wrap_big {
    width: 100%;
  }
  .contacts__btn {
    font-size: 40px;
    color: #f4f3f3;
    width: auto;
    height: 70px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
    padding: 10px 30px;
    margin-left: 3%;
    border-left: 2px solid #c9a721;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  .contacts__btn:hover::after {
    width: 100%;
  }
  .contacts__btn:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0px;
    border-radius: 3px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #c9a721;
    z-index: -1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}
/*# sourceMappingURL=contacts.css.map */