// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {
    .contacts {

        &__ankor {
            position: absolute;

            height: 0;
            width: 0;

            left: 0;
            top: -100px;
        }

        width: 1200px;
        height: 900px;

        padding-top: 150px;

        padding-bottom: 150px;

        box-sizing: border-box;

        margin: 0 auto;

        position: relative;

        z-index: 3;

        font-size: 0;

        &__pillar {

            width: 500px;
            height: 400px;
            margin: 0 auto;

            background-color: #c9a721;
            box-shadow: inset 0 0 138px 9px #121212;

            position: relative;

            &_bottom {

                transform: rotate(180deg);
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                height: 200px;

                &:after {
                    display: none;
                }
    
                &::before {
                    display: none;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                border: 51px solid transparent;
                border-top: 5px solid #121212;
                border-right: 451px solid #121212;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 24px;
                width: 100%;
                height: 2px;
                -webkit-box-shadow: 0 0 58px 9px #121212;
                box-shadow: 0 0 58px 9px #121212;
                -webkit-transform: rotate(6deg);
                transform: rotate(6deg);
            }

            &-wrap {
                width: 100%;

                height: 200px;

                position: absolute;
                left: 0;
                top: -200px;

                overflow: hidden;

                &_bottom {
                    bottom: -200px;
                    top: auto;
                }
            }
        }

        &__wrap {
            width: 100%;

            height: auto;

            position: relative;

            background-image: url(../../../img/bg.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            z-index: 1;

            margin-top: 270px;
            margin-bottom: 200px;
        }

        &__bg {
            position: absolute;

            left: 0;
            bottom: 0;
            right: 0;
            top: 0;

            background-color: rgba(18, 18, 18, 0.4);

            z-index: 2;
        }

        &__title {
            font-size: 50px;
            text-align: center;
            color: #f4f3f3;
            font-family: Ubuntu, sans-serif;
            margin-bottom: 15px;
            padding-bottom: 15px;

            border-bottom: 2px solid #f4f3f3;
        }

        &__input {

            background-color: transparent;

            outline: none;
            width: 88%;
            height: 70px;

            border: 2px solid #f4f3f3;

            display: inline-block;
            margin: 6%;

            box-sizing: border-box;

            font-size: 50px;
            padding-left: 10px;

            font-family: Ubuntu, sans-serif;
            color: #ffcb00;

            &::placeholder {
                color: #f4f3f3;
            }

            &_error {
                border: 2px solid #c52020;
            }

            &_big {
                margin: 3%;
                width: 94%;
            }

            &-wrap {
                display: inline-block;
                width: 50%;

                position: relative;

                &_big {
                    width: 100%;

                }
            }
        }

        &__btn {
            font-size: 40px;

            color: #f4f3f3;

            width: auto;
            height: 70px;
            display: inline-block;

            box-sizing: border-box;
            font-family: Ubuntu, sans-serif;

            padding: 10px 30px;
            margin-left: 3%;

            border-left: 2px solid #c9a721;
            border-radius: 3px;

            position: relative;
            z-index: 1;

            cursor: pointer;

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &:after {
                content: '';
                position: absolute;
                display: inline-block;

                width: 0px;

                border-radius: 3px;

                left: 0;
                top: 0;
                bottom: 0;

                background-color: #c9a721;

                z-index: -1;

                transition: all .5s ease;
            }
        }
    }
}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {}
