@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header__top {
    width: 100%;
    height: 50px;
    position: relative; }
    .header__top-menu-btn {
      position: absolute;
      right: 15px;
      top: 5px;
      width: 30px;
      height: 30px; }
      .header__top-menu-btn-wrap {
        position: absolute;
        right: 5px;
        top: 10px;
        width: 50px;
        height: 45px; }
      .header__top-menu-btn-item {
        width: 100%;
        height: 2px;
        margin-bottom: 8px;
        background-color: #f4f3f3;
        transition: all .3s ease; }
        .header__top-menu-btn-item__1 {
          transform: translateY(10px) rotate(45deg);
          -moz-transform: translateY(10px) rotate(45deg);
          -webkit-transform: translateY(10px) rotate(45deg);
          -ms-transform: translateY(10px) rotate(45deg); }
        .header__top-menu-btn-item__2 {
          opacity: 0; }
        .header__top-menu-btn-item__3 {
          transform: translateY(-10px) rotate(-45deg);
          -moz-transform: translateY(-10px) rotate(-45deg);
          -webkit-transform: translateY(-10px) rotate(-45deg);
          -ms-transform: translateY(-10px) rotate(-45deg); }
    .header__top-text {
      position: absolute;
      width: calc(100% - 120px);
      left: 60px;
      top: 10px;
      color: #c9a721;
      font-size: 26px;
      font-family: Ubuntu, sans-serif;
      text-align: center; }
    .header__top-logo {
      position: absolute;
      top: 5px;
      left: 20px;
      height: 40px;
      width: 40px;
      background-image: url(../../../../img/logo_mobile.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px; }
  .header__menu {
    width: 100%;
    height: 0px;
    transition: all .3s ease;
    box-sizing: border-box;
    padding: 0px 20px;
    color: #f4f3f3;
    overflow: hidden; }
    .header__menu_open {
      height: 160px; }
    .header__menu-item {
      padding: 10px;
      text-align: center;
      color: #f4f3f3;
      display: inherit;
      text-decoration: none; }
      .header__menu-item:visited {
        color: #f4f3f3; }
  .header__wrap {
    width: 100%;
    height: auto;
    background-color: #121212;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; }
    .header__wrap::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -20px;
      width: 20px;
      height: 20px;
      background-color: #121212;
      background-image: url(../../../../img/circul.svg);
      background-size: 40px;
      background-position-x: 0px;
      background-position-y: 0px; }
    .header__wrap::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: -20px;
      width: 20px;
      height: 20px;
      background-color: #121212;
      background-image: url(../../../../img/circul.svg);
      background-size: 40px;
      background-position-x: 20px; } }
