@media only screen and (min-width: 320px) and (max-width: 768px) {
  .info {
    overflow-x: scroll;
    position: relative;
    height: 120px;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  .info__slider-wrap {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    height: 120px;
    margin-left: -20px;
    width: calc(100% + 40px);
    left: 0;
    top: calc(50% - 40px);
    position: absolute;
    z-index: 1;
  }
  .info__slider-wrap-wrap {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 120px;
  }
  .info__item {
    width: 690px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  .info__item-text {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Saira Stencil One', cursive;
    color: #f4f3f3;
    font-size: 190px;
    line-height: 100px;
  }
  .info__wrap {
    width: 100%;
    margin-top: 50px;
  }
  .info__title {
    font-size: 50px;
    margin: 5px 50px 30px 5px;
    padding-left: 20px;
    text-align: left;
    border-top: 7px solid #c9a721;
    position: relative;
  }
  .info__title::after {
    content: '';
    position: absolute;
    height: calc(100% + 20px);
    width: 50%;
    left: -5px;
    bottom: -20px;
    border-bottom: 7px solid #c9a721;
    border-left: 7px solid #c9a721;
    border-bottom-left-radius: 25px;
  }
  .info__content {
    width: 100%;
    height: 600px;
    position: relative;
  }
  .info__content-cell {
    width: 0px;
    height: 1px;
    position: fixed;
    top: 50%;
  }
  .info__content__bg {
    display: inline-block;
    width: 10px;
    height: 20%;
    background-size: 0;
  }
  .info__content__bg_wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
  .info__block-count {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #121212;
  }
  .info__block-count_activate {
    text-shadow: 3px 3px 0 #c9a721;
  }
  .info__block-text {
    width: 100%;
    text-align: center;
    height: 10px;
  }
  .info__block-wrap {
    position: absolute;
    background-color: #f4f3f3;
    border: 1px solid #121212;
    border-radius: 1px;
    padding: 20px;
  }
  .info__block-wrap_1 {
    left: 15px;
    top: 15px;
    padding: 40px 15px 10px 10px;
  }
  .info__block-wrap_2 {
    left: 141px;
    top: 36px;
    padding: 40px 10px 15px 40px;
  }
  .info__block-wrap_3 {
    left: 20px;
    top: 150px;
    padding: 30px 20px 15px 10px;
  }
  .info__block-wrap_4 {
    left: 144px;
    top: 386px;
    padding: 20px 20px 15px 10px;
  }
  .info__block-wrap_5 {
    left: 30px;
    top: 480px;
    padding: 20px 30px 15px 10px;
  }
  .info__block-wrap_6 {
    left: 190px;
    top: 495px;
    padding: 15px 15px 15px 20px;
  }
}
/*# sourceMappingURL=info.css.map */