// Смартфоны
@media only screen and (min-width : 320px) and (max-width : 768px) {
    .header {


        &__top {
            width: 100%;
            height: 50px;

            position: relative;

            &-menu-btn {
                position: absolute;

                right: 15px;
                top: 5px;

                width: 30px;
                height: 30px;

                &-wrap {
                    position: absolute;

                    right: 5px;
                    top: 10px;

                    width: 50px;
                    height: 45px;
                }

                &-item {
                    width: 100%;
                    height: 2px;
                    margin-bottom: 8px;
                    background-color: #f4f3f3;

                    transition: all .3s ease;

                    &__1 {

                        transform: translateY(10px) rotate(45deg);
                        -moz-transform: translateY(10px) rotate(45deg);
                        -webkit-transform: translateY(10px) rotate(45deg);
                        -ms-transform: translateY(10px) rotate(45deg);

                    }

                    &__2 {

                        opacity: 0;
                    }

                    &__3 {

                        transform: translateY(-10px) rotate(-45deg);
                        -moz-transform: translateY(-10px) rotate(-45deg);
                        -webkit-transform: translateY(-10px) rotate(-45deg);
                        -ms-transform: translateY(-10px) rotate(-45deg);
                    }
                }
            }

            &-text {
                position: absolute;
                width: calc(100% - 120px);

                left: 60px;
                top: 10px;


                color: #c9a721;
                font-size: 26px;
                font-family: Ubuntu, sans-serif;

                text-align: center;
            }

            &-logo {
                position: absolute;

                top: 5px;
                left: 20px;

                height: 40px;
                width: 40px;

                background-image: url(../../../../img/logo_mobile.png);
                background-position: center;
                background-repeat: no-repeat;

                background-size: 40px;
            }
        }

        &__menu {
            width: 100%;
            height: 0px;
            transition: all .3s ease;
            box-sizing: border-box;

            padding: 0px 20px;

            color: #f4f3f3;

            overflow: hidden;

            &_open {
                height: 160px;
            }

            &-item {
                padding: 10px;
                text-align: center;
                color: #f4f3f3;

                display: inherit;

                text-decoration: none;

                &:visited {
                    color: #f4f3f3;
                }
            }
        }

        &__wrap {
            width: 100%;
            height: auto;

            background-color: #121212;

            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;

            &::after {
                content: '';

                position: absolute;

                left: 0;
                bottom: -20px;

                width: 20px;
                height: 20px;

                background-color: #121212;

                background-image: url(../../../../img/circul.svg);
                background-size: 40px;
                background-position-x: 0px;
                background-position-y: 0px;
            }

            &::before {
                content: '';

                position: absolute;

                right: 0;
                bottom: -20px;

                width: 20px;
                height: 20px;

                background-color: #121212;

                background-image: url(../../../../img/circul.svg);
                background-size: 40px;
                background-position-x: 20px;
            }
        }
    }  
}

// Смартфоны маленькие
@media only screen and (min-device-width : 320px) and (max-device-width : 420px) {}

// Смартфоны большие
@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {}

// iPads 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) {}

// Настольные компьютеры
@media only screen and (min-width : 1024px) and (max-width : 1424px) {}

// Настольные большие компьютеры
@media only screen and (min-width : 1424px) and (max-width : 1824px) {}

// Большие экраны
@media only screen and (min-width : 1824px) {} 