{% extends 'main.html' %}
{% load static %}


{% block title %}
<title>AristovDesign | 3D визуализация и дизайн</title>
{% endblock %}
{% block meta %}
    <meta name=description content="AristovDesign - 3D дизайн и визуализация интерьера.">
    <meta name=keywords content="3D дизайн, 3D визуализация">
{% endblock %}
{% block header %}
{% include 'include/header.html' with page="3d" %}
{% endblock %}

{% block content %}
<div class="about__wrap">
    <div class="about">
        <h1 class="about__title">Зачем нужна 3D визуализация?</h1>
        <div class="about__text">
            Для того чтобы понять, как будет выглядеть будущий дом, недостаточно иметь на руках только проект. Планы
            этажей и фасадов без применения текстур материалов не могут передать сочетания цветов "в живую". Например,
            как будет выглядеть различный кирпич и шов на самом деле? Ведь определиться с цветом кирпича – это полдела.
            Ведь восприятие цвета стены из кирпичной кладки на 30% зависит от цвета кладочного шва. Сравните две стены:
        </div>
        <div class="about__img-wrap">
            <div class="about__img" style="background-image: url({% static 'img/3d-01.jpg' %})">
            </div>
        </div>
        <div class="about__text">
            Разница есть, не правда ли? А это один и тот же кирпич, только применен разный цветной раствор для шва.
            <br><br>Какие декоративные элементы можно сделать из кирпича и в каком цветовом решении? Какого цвета и
            размера будут окна? Какую кровлю применить? А о таких нюансах, как изменит общий вид подшивка кровли или
            цвет водостока, заказчик даже не подозревает или, как правило, вообще задумывается только ближе к окончанию
            работ. Надо признать, что внешний вид дома/помещения - это то, чем каждый хочет выделиться и главное -
            сделать всё по своему вкусу. Ведь тот же автомобиль мы выбираем исходя из его цвета и наличия декоративных
            внешних элементов. Но машину со временем можно поменять, а вот изменить внешний вид дома будет очень сложно.
            Так как же увидеть заказчику свой дом или комнату еще до начала стройки?
            <br><br><strong>3D-визуализация</strong> как раз является ответом на такой вопрос в области строительства:
            проект будущего дома, с помощью компьютерной программы, воплощается в 3D-модель. Работа над 3D-моделью
            выполняется только из текстур настоящих материалов, которые можно приобрести у нас и продолжается до тех
            пор, пока заказчик не найдёт оптимального сочетания для себя.
        </div>
        <div class="about__img-wrap about__img-wrap_big">
            <div class="about__img about__img_small" style="background-image:url({% static 'img/3d-011.jpg' %})"></div>
            <div class="about__img about__img_small" style="background-image:url({% static 'img/3d-012.jpg' %})"></div>
            <div class="about__img about__img_small" style="background-image:url({% static 'img/3d-013.jpg' %})"></div>
        </div>
        <div class="about__text">
            3D-модель дает правильный взгляд на будущий дом, комнату, предмет в разных проекциях. В итоге будущий
            домовладелец получает:
            <br><br>&nbsp;• Готовое решение по внешнему виду своего будущего дома. Больше не надо ломать голову над
            нюансами, можно спокойно начинать продумывать внутреннюю планировку.
            <br><br>&nbsp;• Возможность выбора. Так как есть готовое решение и можно как сразу строить полностью дом,
            так и разбивать строительство на этапы, а материалы закупать когда это наиболее выгодно, или когда есть
            возможность.
        </div>
    </div>
</div>
{% endblock %}
