{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.ico">
    {% block meta %}
        <meta name=description content="AristovDesign - 3D дизайн и визуализация интерьера.">
        <meta name=keywords content="3D дизайн, 3D визуализация".>
    {% endblock %}
   {% block title %}
        <title>AristovDesign | 3D визуализация и дизайн</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'build/css/common/main.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,400,700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'build/css/libs/slick.css' %}">
    <link rel="stylesheet" href="{% static 'build/css/libs/slick-theme.css' %}">


    <script type="text/javascript" src="{% static 'build/js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'build/js/libs/slick.js' %}"></script>

</head>

<body>

        <!— Yandex.Metrika counter —>
        <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
        
        ym(55984267, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
        });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/55984267" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!— /Yandex.Metrika counter —>

    {% csrf_token %}
    <div class="wrap">

        {% block header %}
            {% include 'include/header.html' with page='main' %}
        {% endblock %}


        {% block content %}
        {% include 'include/main-window.html' %}
        {% include 'include/services.html' %}
        {% include 'include/works.html' %}
        {% include 'include/contacts.html' %}
        {% endblock %}

        {% include 'include/thn-popup.html' %}
        {% include 'include/contacts-popup.html' %}
        {% include 'include/footer.html' %}
    </div>
    <script src="{% static 'build/js/common/scripts.js' %}" defer></script>
</body>

</html>