{% extends 'main.html' %}
{% load static %}


{% block title %}
    <title>AristovDesign – 3D визуализация и дизайн | Портфолио</title>
{% endblock %}

{% block header %}
{% include 'include/header.html' with page="portfolio" %}
{% endblock %}
{% block meta %}
    <meta name=description content="AristovDesign - 3D дизайн и визуализация интерьера.">
    <meta name=keywords content="3D дизайн, 3D визуализация">
{% endblock %}

{% block content %}
<div class="portfolio__wrap">
    <div class="portfolio__pillar">
        <h1 class="portfolio__pillar-title">Портфолио</h1>
    </div>
        {% for work in works %}
        <div id="{{ work.id }}" class="portfolio {% if forloop.counter|divisibleby:'2' %} portfolio_right {% endif %}">
            <div class="portfolio__slider__wrap">
                <div class="portfolio__slider">
                    <div style="background-image: url({{ work.photo.url }});" class="portfolio__slider__item"></div>
                    {% for image in work.image_set.all %}
                        <div style="background-image: url({{ image.image.url }});" class="portfolio__slider__item"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="portfolio__text">
                <div class="portfolio__title">{{ work.title }}</div>
                <div class="portfolio__subtitle">{{ work.description }}</div>
                <div class="portfolio__style">{{ work.style }}</div>
                <!-- <div class="portfolio__add">Подробнее</div> -->
            </div>
        </div>
        {% endfor %}
    </div>
{%  endblock %}